@charset "utf-8";
#__bs_notify__{display:none!important}
body,select,option,input[type="text"],input[type="password"],input[type="number"],input[type="email"]{font-family:proxima-nova,'Noto Sans KR',sans-serif;}
html{font-size:14px;line-height:22px;color:#555;}
body{margin:0;word-break:keep-all;}
button,input,textarea,pre{font-family:inherit;font-size:inherit;color:inherit}
html,body{height:100%}
fieldset,ul,ol{margin:0;padding:0}
ul,ol{list-style:none}
h1,h2,h3,h4,h5,p,dd,dl,pre,input{margin:0}
legend,td,th,input[type="text"],input[type="password"],input[type="number"],input[type="email"]{padding:0}
textarea,button,select,input[type="text"],input[type="password"],input[type="number"],input[type="email"],input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
textarea,button{border:0;}
textarea{resize:none;padding:0}
button{padding:0;background-color:transparent;border-radius:0;cursor:pointer}
a{text-decoration:none;color:inherit}
a:hover,
a:focus{text-decoration:underline;}
strong,h1,h2,h3,h4,h5,th{font-weight:400}
em{font-style:normal}
fieldset{border:0;border-radius:0}
table{border-collapse:collapse}
img{max-width:100%;vertical-align:top}
input:disabled,
button:disabled{background-color:transparent}
pre{white-space:pre-wrap}
label{cursor:pointer;}
main{display:block;}
input[type="text"],input[type="password"],input[type="number"],input[type="email"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0;border-width:0;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{none;margin:0}
input[type='number']{-moz-appearance:textfield;}
.s_out,
legend{position:absolute;width:0;height:0;line-height:0;overflow:hidden;text-indent:10rem;white-space:nowrap;color:rgba(0,0,0,0);}
.ellipsis{text-overflow:ellipsis;overflow:hidden;display:block;white-space:nowrap}
.set_transition{-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1);-o-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1);transition-timing-function:cubic-bezier(0.645,0.045,0.355,1)}
.clear:after{content:'';display:block;width:0;height:0;line-height:0;opacity:0;overflow:hidden;clear:both}
.spr,
.spr_after:after,
.spr_before:before,
.input_check label:before{overflow:hidden;display:inline-block;background-image:url(../img/spr.png);-webkit-background-size:300px 300px;background-size:300px 300px;background-repeat:no-repeat;text-indent:-200%;vertical-align:top}
.spr_after:after,
.spr_before:before,
.pos_center_before:before,
.pos_center_after:after{content:''}
.pos_center_before,
.pos_center_after{position:relative;}
.pos_center,
.pos_center_before:before,
.pos_center_after:after,
.btn_arr:before,
.input_text button:before{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.pos_center.h,
.pos_center_before.h:before,
.pos_center_after.h:after,
.btn_like:before,
.btn_reply:before,
.wrap_board .pages{top:0;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,0);transform:translate(-50%,0);}

.pos_center.v,
.pos_center_before.v:before,
.pos_center_after.v:after,
.btn_coupon:after,
.input_text button,
.input_select:before{left:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%);}
.hide{display:none!important;}

[class*="tit_"],
.light[class*="btn_"],
.pages .link,
.lnb .list_lnb,
.list_tab .active a{color:#333;}
input.tc_3:hover::-webkit-input-placeholder{color:#333;}
input.tc_3:hover::-moz-placeholder{color:#333;}
input.tc_3:hover:-ms-input-placeholder{color:#333;}
input.tc_3:hover::placeholder{color:#333;}
input.tc_3:focus::-webkit-input-placeholder{color:#333;}
input.tc_3:focus::-moz-placeholder{color:#333;}
input.tc_3:focus:-ms-input-placeholder{color:#333;}
input.tc_3:focus::placeholder{color:#333;}
textarea.tc_3:hover::-webkit-input-placeholder{color:#333;}
textarea.tc_3:hover::-moz-placeholder{color:#333;}
textarea.tc_3:hover:-ms-input-placeholder{color:#333;}
textarea.tc_3:hover::placeholder{color:#333;}
textarea.tc_3:focus::-webkit-input-placeholder{color:#333;}
textarea.tc_3:focus::-moz-placeholder{color:#333;}
textarea.tc_3:focus:-ms-input-placeholder{color:#333;}
textarea.tc_3:focus::placeholder{color:#333;}
.tc_3,
.tc_3_h:hover,
.tc_3_h:focus{color:#333!important;}
.tit_page{display:block;font-size:26px;line-height:36px;}
.tit_page,.tit_h1{font-weight:700}
.tit_h1{font-size:22px;line-height:30px}
.tit_h2,.tit_h3,[class*="btn_"]{font-weight:500;}
.tit_h2{font-size:18px;line-height:26px}
.tit_h3{font-size:16px;line-height:24px;}

.cont_h2 .tit_h2,
.cont_h1h2 .tit_h2,
.cont_h1h2h3 .tit_h3,
[class*="cont_"] .desc{margin-bottom:8px;}
.cont_h2 .desc + .tit_h2,
.cont_h1h2h3 .desc + .tit_h3{margin-top:18px;}
.cont_h1h2 .tit_h1,
.cont_h1h2h3 .tit_h2{margin-bottom:18px;}
.cont_h1h2 .desc + .tit_h1,
.cont_h1h2h3 .desc + .tit_h1{margin-top:52px;}
[class*="cont_"] .desc:last-child{margin-bottom:0;}
.cont_h1h2h3 .tit_h1{margin-bottom:24px;}

.tc_1,
.tit_page,
[class*="btn_"],
.lnb .tit_lnb,
.wrap_board .ans:before,
.slides.black .info{color:#111;}
.tc_5,
.small[class*="btn_"],
.text_link,
.lnb .list_lnb .dep2{color:#555;}
.tc_8,
.wrap_board .sort button{color:#888;}
.tc_f,
.out,
.lnb.white .tit_lnb,
.lnb.white .list_lnb,
.lnb.white .list_lnb .dep2,
.flag.new,
.dark[class*="btn_"],
.slides.white .info{color:#fff;}
.slides.white .desc.tc_3,
.slides.seasonissue .white .tc_3{color:#fff!important;}
.tc_b{color:#bbb;}
::-webkit-input-placeholder{color:#bbb;}
::-moz-placeholder{color:#bbb;}
:-ms-input-placeholder{color:#bbb;}
input::placeholder{color:#bbb;}
.tc_err{color:#f32323!important;}
.tc_poi,
.btn_like.selected .count{color:#ff4e25;}
.desc_sub,.desc_small{line-height:21px;}
.desc_sub{font-size:13px;}
.desc_small{font-size:12px;}

.lc_def,
.input_radio label:before,
.input_checkbox label:before{border-color:#d0d0d0}
.lc_1,
.dark[class*="btn_"],
.lnb .list_lnb{border-color:#111;}
.lc_3,
.pages em.link,
.input_text input:hover,
.input_text input:focus,
.input_textarea textarea:hover,
.input_textarea textarea:focus,
.list_tab .active a,
.slides.black .slick-arrow:after{border-color:#333;}
.input_select:before{border-color:#333 transparent transparent transparent;}
.lc_5,
.text_link:after{border-color:#555;}
.lc_e{border-color:#eee;}
.lc_f,
.lnb.white .list_lnb,
.wrap_board .item.view,
.slides.white .slick-arrow:after{border-color:#fff;}
.lc_cont,
.flag.tag,
.btn_coupon{border-color:#e5e5e5;}
.lc_poi{border-color:#ff4e25;}
.lc_b,
[class*="btn_"],
.site_step span:after{border-color:#bbb;}
.lc_0{border-color:#000;}
.lc_err,
.input_text.error input,
.input_select.error{border-color:#f32323;}

[class*="btn_"],
[class*="lc_"],
.text_link:after,
.pages em.link,
.flag.tag,
.btn_coupon,
.input_radio label:before,
.input_checkbox label:before,
.site_step span:after,
.slides .slick-arrow:after{border-style:solid;}

[class*="btn_"]{display:inline-block;vertical-align:top;border-width:1px;}
.bg_def,
.bg_f7,
.wrap_board .item.view{background-color:#f7f7f7;}
.bg_1,
.dark[class*="btn_"],
.flag.new,
.banner_top.bg_f .btn_close:before,
.banner_top.bg_f .btn_close:after{background-color:#111;}
.bg_f,
.input_radio label:before,
.list_tab a,
.banner_top.bg_0 .btn_close:before,
.banner_top.bg_0 .btn_close:after{background-color:#fff;}
.bg_8{background-color:#888;}
.bg_0{background-color:#000;}
.bg_poi{background-color:#ff4e25;}
.bg_d0,
.out,
.slides .slick-dots button{background-color:#d0d0d0;}
.bg_f4{background-color:#f4f4f4;}
.bg_f0{background-color:#f0f0f0;}
.bg_e5,
.bg_e5_after:after{background-color:#e5e5e5;}
.bg_3,
.input_radio label:after,
.list_tab:after,
.slides .slick-dots .slick-active button{background-color:#333;}
[class*="btn_"]{min-width:76px;padding:0 26px;height:40px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:14px;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.fix[class*="btn_"]{width:100px}
[class*="btn_"]:hover,
[class*="btn_"]:focus{text-decoration:underline;}

.dis_f,
.list_product,
.pages{display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:-o-flex;display:flex;}

.dis_if,
[class*="btn_"],
.list_product >li,
.pages .link,
.slides .slick-dots li{display:-webkit-inline-flex;display:-moz-inline-flex;display:-ms-inline-flexbox;display:-o-inline-flex;display:inline-flex;}

.fw_wrap,
.list_product{-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap;}

.ai_c,
.pages .link{-ms-flex-align:center;-webkit-align-items:center;align-items:center;}

.jc_c,
[class*="btn_"],
.pages,
.pages .link{justify-content:center;-ms-flex-pack:center;text-align:center;}

.large[class*="btn_"]{height:60px;padding:2px 60px 0;font-size:16px;;line-height:20px;}
.small[class*="btn_"]{min-width:auto;height:26px;padding:0 10px;font-size:13px}
.small.fix[class*="btn_"]{width:68px}
.light[class*="btn_"]{font-weight:400}
.btn_link+.btn_link{margin-left:2px;}
.large[class*="btn_"]+.large[class*="btn_"]{margin-left:8px;}
.small[class*="btn_"]+.small[class*="btn_"]{margin-left:0;}

.text_link{position:relative;display:inline-block;vertical-align:top;text-align:center;}
.text_link:after{content:'';position:absolute;left:0;bottom:13.6363636364%;width:100%;height:0;border-width:1px 0 0;font-size:0;line-height:0;}
button.text_link:after{bottom:0;}
.text_link + .text_link{margin-left:16px;}

.btn_like,
.btn_reply{position:relative;border:0;padding:0!important;margin:0!important;width:50px;height:42px;min-width:50px;}
.btn_like:hover,
.btn_like:focus,
.btn_reply:hover,
.btn_reply:focus,
.btn_coupon:hover,
.btn_coupon:focus{text-decoration:none;}
.btn_like .count,
.btn_reply .count{position:absolute;left:0;bottom:0;width:100%;font-size:15px;line-height:15px;font-weight:400;white-space:nowrap;outline:0}
.btn_like:before,
.btn_reply:before{position:absolute;left:50%;width:24px;height:20px;}
.btn_like:before{background-position:0 0;}
.btn_reply:before{background-position:-28px 0;}
.btn_like.small,
.btn_reply.small,
.btn_coupon{width:auto;height:16px;justify-content:flex-start;-ms-flex-pack:start;text-align:left;}
.btn_like.small .count,
.btn_reply.small .count{position:static;font-size:13px;line-height:12px;padding-left:20px;}
.btn_like.small:before,
.btn_reply.small:before{left:0;top:1px;-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none;width:16px;height:14px;}
.btn_like.small:before{background-position:-138px 0;}
.btn_reply.small:before{background-position:-76px 0;}
.btn_like.selected:before{background-position:-158px 0;}
.btn_like.small.selected:before{background-position:-56px 0;}

.btn_arr{position:relative;border:0;padding:0;margin:0!important;width:40px;height:40px;min-width:40px;}
.btn_arr:before{width:6px;height:12px;background-position:-96px 0;}
.btn_arr.next[class*="btn_"]:before{-webkit-transform:translate(-50%,-50%) rotateZ(180deg);-ms-transform:translate(-50%,-50%) rotateZ(180deg);-o-transform:translate(-50%,-50%) rotateZ(180deg);transform:translate(-50%,-50%) rotateZ(180deg);}
.btn_arr.small[class*="btn_"]{width:28px;height:28px;min-width:28px}
.btn_arr[disabled]:before,
.btn_arr.disabled:before,
.btn_arr.light[class*="btn_"]:before{background-position:-106px 0;}

.btn_coupon{position:relative;width:116px;height:34px;min-width:auto;padding:0 0 0 10px;margin:0;border-radius:3px;font-size:14px;line-height:34px;}
.btn_coupon:after{position:absolute;left:auto;right:11px;top:50%;width:18px;height:16px;background-position:-116px 0;}

.btn_more{width:220px;}

.btn_close{position:absolute;width:40px;height:40px;min-width:40px;border:0;padding:0;}
.btn_close:before,
.btn_close:after{content:'';width:2px;height:26px;}
.btn_close:before{-webkit-transform:translate(-50%,-50%) rotateZ(45deg);-ms-transform:translate(-50%,-50%) rotateZ(45deg);-o-transform:translate(-50%,-50%) rotateZ(45deg);transform:translate(-50%,-50%) rotateZ(45deg);}
.btn_close:after{-webkit-transform:translate(-50%,-50%) rotateZ(-45deg);-ms-transform:translate(-50%,-50%) rotateZ(-45deg);-o-transform:translate(-50%,-50%) rotateZ(-45deg);transform:translate(-50%,-50%) rotateZ(-45deg);}

.flag.out{display:block;width:80px;height:27px;line-height:29px;font-size:13px;text-align:center;}
.flag.tag{height:17px;padding:0 4px;border-width:1px;white-space:nowrap;font-size:12px;line-height:19px;}
.flag.new{display:block;width:27px;height:27px;text-align:center;line-height:29px;}
.flag.new:before{content:'N'}

.list_product{width:940px;margin:0 auto;}
.list_product >li,
.list_product .img{width:220px;}
.list_product .img,
.list_product .img img{height:220px}
.list_product .link{width:100%;}
.list_product >li{position:relative;padding-bottom:76px;}
.list_product >li + li{margin-left:20px;}
.list_product >li:nth-child(4n+1),
.list_product.fix5 >li:nth-child(5n+1){margin-left:0;}
.list_product .img{overflow:hidden;position:relative;display:block;margin-bottom:12px;height:0;padding-top:100%;}
.list_product .img img{height:100%;}
.list_product .brand{float:left;margin-bottom:6px;max-width:100%;}
.list_product .brand,
.list_product .name{font-size:14px;line-height:22px;}
.list_product .name{max-width:100%;overflow:visible;white-space:normal;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;clear:both}
.list_product .img:hover + .brand + .name,
.list_product .img:focus + .brand + .name{text-decoration:underline;}
.list_product .name,
.list_product .price{padding-right:20px;}
.list_product .price{font-size:18px;line-height:26px;margin-bottom:9px;white-space:nowrap;}
.list_product .price .now{font-weight:700;}
.list_product .price .origin{font-size:13px;line-height:21px;text-decoration:line-through}
.list_product .out{position:absolute;right:0;top:193px;}
.list_product .flag.tag{float:left;margin-bottom:2px;}
.list_product .flag + .flag{margin-left:2px;}
.list_product .func{position:absolute;right:0;top:235px;height:17px;}
.list_product .func .btn_like{margin-right:12px!important;}

.list_product.fix5{width:1180px;}
.list_product.fix5 >li{width:calc(20% - 16px);}
.list_product.fix5 >li:first-child{margin-left:0!important;}
.list_product.fix5 >li:nth-child(4n+1){margin-left:20px;}
.list_product.fix5 .img{width:100%;}
.list_product.fix5 .out{top:193px;}
.list_product.fix5 .func{top:235px;}

.list_product.small{width:100%;}
.list_product.small >li{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:33.3%;height:140px;margin:20px 0 0!important;padding-bottom:0;padding-right:77px;}
.list_product.small >li:nth-child(3n-1){width:33.4%;}
.list_product.small >li:nth-child(4n-1){padding-right:0;}
.list_product.small >li:nth-child(1),
.list_product.small >li:nth-child(2),
.list_product.small >li:nth-child(3),
.list_product.small.vertical >li:first-child{margin-top:0!important;}
.list_product.small .link{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-left:160px;}
.list_product.small .img{position:absolute;left:0;top:0;width:140px;height:140px;padding:0;margin-bottom:0;}
.list_product.small .brand{line-height:22px;margin-bottom:0;}
.list_product.small .name{white-space:nowrap;overflow:hidden;margin-bottom:1px;line-height:22px;padding:0;}
.list_product.small .price{margin:0;padding:0;}
.list_product.small .flags{position:absolute;left:160px;bottom:8px}
.list_product.small .func{right:auto;top:auto;left:160px;bottom:44px;}
.list_product.small .out{left:60px;bottom:0;top:auto;}

.list_product.small.vertical{display:block;}
.list_product.small.vertical >li{display:block;width:100%;margin-top:20px!important;}

.miw1280,
.layout_full,
.layout_full >.inner{min-width:1280px;}
.wrap_listproduct{margin:0 auto;}
.wrap_listproduct >.tit,
.wrap_brandissue >.tit,
.wrap_seasonissue >.tit{display:block;width:1180px;margin:0 auto 16px;font-size:30px;line-height:38px;font-weight:700;}
.wrap_listproduct .btn_more{display:block;margin:0 auto;}

.pages .link{width:40px;height:40px;font-size:15px;}
.pages em.link{font-weight:500;border-width:2px 0 2px;border-top-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pages .last{position:relative;padding-left:40px;}
.pages .last:before{content:'...';position:absolute;left:0;top:0;width:40px;height:40px;line-height:40px;text-align:center;}

.lnb{width:180px;}
.tit_lnb{font-size:28px;line-height:34px;font-weight:700;}
.list_lnb{margin-top:12px;padding-top:24px;border-width:1px 0 0;border-style:solid;font-size:16px;line-height:24px;}
.list_lnb li{float:left;width:100%;}
.list_lnb a{float:left;padding:5px 0;}
.list_lnb .dep2{font-size:14px;line-height:22px;padding-bottom:12px;}
.list_lnb .dep2 a{padding:3px 0 0 12px;}

.wrap_board{position:relative;padding-bottom:80px;}
.wrap_board .tit{width:100%;padding-bottom:13px;border-width:0 0 2px;font-size:25px;line-height:30px;font-weight:700;}
.wrap_board .sort{position:absolute;right:0;top:3px;}
.wrap_board .sort li{position:relative;padding:0 24px;}
.wrap_board .sort li:first-child{padding-left:0;}
.wrap_board .sort li:last-child{padding-right:0;}
.wrap_board .sort button{font-size:14px;line-height:22px;}
.wrap_board .sort button.tc_3{font-weight:500;}
.wrap_board .sort button span{display:inline-block;font-size:15px;}
.wrap_board .sort li + li:before{content:'';position:absolute;left:0;top:4px;width:1px;height:14px;background-color:#ddd;}
.wrap_board .item{position:relative;border-width:0 0 1px}
.wrap_board .info dd{position:absolute;z-index:1;}
.wrap_board .info .flag{left:38px;top:30px;}
.wrap_board .info .no,
.wrap_board .info .yes{top:29px;font-size:25px;line-height:30px;}
.wrap_board .info .no:before{content:'NO';}
.wrap_board .info .yes:before{content:'YES';}
.wrap_board .info .category{left:120px;top:25px;font-size:14px;line-height:22px;}
.wrap_board .info .writer,
.wrap_board .info .date{font-size:13px;line-height:21px;text-align:right;top:45px;}
.wrap_board .info .date{right:20px;}
.wrap_board .info .writer{right:95px;}
.wrap_board .que{position:relative;padding:49px 220px 17px 120px;}
.wrap_board .que p{overflow:hidden;float:left;font-size:14px;line-height:22px;height:22px;}
.wrap_board .que p.over{text-decoration:underline;}
.wrap_board .que .cont{position:relative;float:left;}
.wrap_board .que .view{position:absolute;left:0;top:0;font-size:14px;line-height:22px;height:22px;width:100%;}
.wrap_board .que .admin{clear:both;padding-top:9px;display:none;}
.wrap_board .que .secret:after{width:14px;height:14px;background-position:-186px 0;vertical-align:text-top;margin-left:8px;}
.wrap_board .ans{overflow:hidden;height:0;padding:0 220px 0 120px;}
.wrap_board .ans:before{content:'A.';display:block;font-size:25px;margin-bottom:8px;}
.wrap_board .ans:after{content:'';display:block;height:56px;}
.wrap_board .ans p{font-size:14px;line-height:22px;}
.wrap_board .pages{margin-top:30px;}
.wrap_board .item.view{margin-top:-1px;z-index:1;border-width:1px 0 0;}
.wrap_board .item.view:first-child{margin-top:0!important;}
.wrap_board .item.view .que .view{display:none;}
.wrap_board .item.view .que p{height:auto}
.wrap_board .item.view .que .admin{display:block;}
.wrap_board .item.view .ans{height:auto;margin-top:31px;}
.wrap_board .pages{position:absolute;left:50%;bottom:10px;top:auto;}
.wrap_board .btn_write{position:absolute;right:0;bottom:0;}

.input_text{display:inline-block;position:relative;vertical-align:top}
.input_text input{float:left;height:40px;padding:0 39px 0 15px;min-width:280px;font-size:14px;border-width:1px;}
.input_text button{position:absolute;width:35px;height:38px;right:0;top:50%;left:auto;display:none;}
.input_text button:before{width:10px;height:10px;background-position:-118px -20px;}
.input_text input:hover + button,
.input_text input:focus + button,
.input_text button:hover,
.input_text button:focus,
[class*="input_"].error .error{display:block;}
[class*="input_"] .error{position:absolute;left:0;bottom:-24px;font-size:13px;line-height:17px;display:none;}


.input_select{display:inline-block;min-width:280px;vertical-align:top;border-width:1px;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#fff;}
.input_select:before{content:'';position:absolute;right:14px;top:50%;left:auto;width:0;height:0;border-style:solid;border-width:4px 3.5px 0 3.5px;}
.input_select select{display:block;width:100%;height:38px;padding:0 39px 0 16px;background-color:transparent;border-radius:0;border:0;font-size:14px;color:inherit;line-height:38px;cursor:pointer;background-color:#fff;}
.input_select select::-ms-expand{display:none;}
.input_select select:focus::-ms-value{background-color:transparent;color:inherit;}

.input_radio,
.input_checkbox{display:inline-block;position:relative;}
.input_radio input,
.input_checkbox input{position:absolute;left:3px;top:3px;opacity:0;}
.input_radio label,
.input_checkbox label{display:block;position:relative;height:22px;padding:0 0 0 30px;font-size:14px;line-height:24px;}
.input_radio label:before,
.input_radio label:after,
.input_checkbox label:before,
.input_checkbox label:after{content:'';position:absolute;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.input_radio label:before,
.input_radio label:after{border-radius:50%;}
.input_radio label:before,
.input_checkbox label:before{left:0;top:0;width:22px;height:22px;border-width:1px;}
.input_radio label:after{left:6px;top:5.5px;width:10px;height:10px;display:none;}
.input_radio input:checked + label:after{display:block;}

.input_checkbox input:focus + label:before,
.input_radio input:focus + label:before{-webkit-box-shadow:0 0 3px 2px #3b98fc;-moz-box-shadow:0 0 3px 2px #3b98fc;box-shadow:0 0 3px 2px #3b98fc;}

.input_checkbox label:before{border-radius:2px;}
.input_checkbox label:after{left:5px;top:6px;width:12px;height:10px;background-position:-118px -34px;opacity:.1}
.input_checkbox input:checked + label:after{opacity:1}

.input_checkbox.large label:before{width:28px;height:28px;}
.input_checkbox.large label:after{left:7px;top:8px;width:16px;height:12px;background-position:-132px -20px;}
.input_checkbox.large label{height:28px;padding-left:40px;line-height:30px;font-size:18px;font-weight:500;}

.input_textarea{display:inline-block;}
.input_textarea textarea{display:inline-block;font-size:14px;line-height:22px;vertical-align:top;background-color:transparent;padding:16px 40px 16px 16px;border-width:1px;overflow-x:hidden;overflow-y:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-height:120px;width:100%}
.input_textarea .count{text-align:right;font-size:13px;line-height:22px;margin-top:10px;}

.list_tab{width:100%;position:relative;}
.list_tab:after{content:'';position:absolute;width:100%;height:2px;left:0;bottom:0;z-index:1;}
.list_tab a{width:100%;height:58px;padding:0 24px;border-width:1px 1px 0;font-size:16px;line-height:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-weight:500;}
.list_tab li{position:relative;height:58px;}
.list_tab li + li{margin-left:-1px;}
.list_tab .active{z-index:2;height:60px;}
.list_tab .active a{height:60px;border-width:2px 2px 0;}
.list_tab.length2 li{width:calc(50% + .5px);}
.list_tab.length3 li{width:calc(33.3333333333% + .6666666667px);}
.list_tab.length4 li{width:calc(25% + .75px);}
.list_tab.length5 li{width:calc(20% + .8px);}
.list_tab.length6 li{width:calc(16.6666666667% + .8333333333px);}
.list_tab.length7 li{width:calc(14.2857142857% + .8571428571px);}

.site_step a{font-size:16px;line-height:24px;font-weight:700;}
.site_step span{display:inline-block;position:relative;padding-right:38px;}
.site_step span:after{content:'';position:absolute;right:16px;top:50%;-webkit-transform:translateY(-50%) rotateZ(45deg);-ms-transform:translateY(-50%) rotateZ(45deg);-o-transform:translateY(-50%) rotateZ(45deg);transform:translateY(-50%) rotateZ(45deg);width:7px;height:7px;border-width:1px 1px 0 0;}
.site_step span:last-child{padding-right:0;}
.site_step span:last-child:after{display:none;}

.layout_full{width:100%;}
.layout_full >.inner{position:relative;max-width:1920px;margin:0 auto;}

.banner_top >.inner{height:100px;}
.banner_top .btn_close{right:15px;top:15px;}
.banner_top a{display:block;margin:0 auto;width:1280px;text-align:center;}

.site_header .inner{position:relative;height:140px;padding-top:29px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.site_header .logo{margin-bottom:11px;}
.site_header .logo a{display:block;width:230px;height:38px;margin:0 auto;padding:5px;}
.site_header .logo a:before{display:block;width:230px;height:38px;background-position:0 -52px;}
.site_header .links{position:absolute;right:50px;top:34px;font-size:13px}
.site_header .links >a{line-height:15px;}
.site_header .links >a + a{margin-left:21px;}
.site_header .links .search:before{width:22px;height:22px;background-position:0 -24px;}
.site_header .links .cart{position:relative;}
.site_header .links .cart:before{width:24px;height:24px;background-position:-26px -24px;}
.site_header .links .cart .length{overflow:hidden;position:absolute;left:0;top:0;width:100%;text-align:center;height:24px;line-height:28px;}
.site_header .links .center:before{width:24px;height:24px;background-position:-54px -24px;}

.gnb a{display:block;font-size:16px;line-height:18px;padding:5px 10px;}
.gnb a.active{font-weight:700;}

.slides{margin-bottom:32px;}
.slides .item{width:100%;}
.slides .item >a{display:block;position:relative;width:1280px;margin:0 auto;}
.slides .item >a:hover .info,
.slides .item >a:focus .info{text-decoration:underline;}
.slides >.item:not(:first-child){height:0;overflow:hidden;}
.slides .slick-arrow{overflow:hidden;position:absolute;z-index:1;width:38px;height:62px;}
.slides .slick-arrow:after{;width:36px;height:36px;border-width:1px 1px 0 0;}
.slides .slick-prev{left:45px;}
.slides .slick-prev:after{left:13.5px;-webkit-transform:translate(0,-50%) rotateZ(-135deg);-ms-transform:translate(0,-50%) rotateZ(-135deg);-o-transform:translate(0,-50%) rotateZ(-135deg);transform:translate(0,-50%) rotateZ(-135deg)}
.slides .slick-next{right:45px;left:auto;}
.slides .slick-next:after{left:-13.5px;-webkit-transform:translate(0,-50%) rotateZ(45deg);-ms-transform:translate(0,-50%) rotateZ(45deg);-o-transform:translate(0,-50%) rotateZ(45deg);transform:translate(0,-50%) rotateZ(45deg)}
.slides .slick-dots{bottom:-32px;top:auto;}
.slides .slick-dots li{padding:0 6px;}
.slides .slick-dots button{overflow:hidden;text-indent:-24px;font-size:1px;width:12px;height:12px;border-radius:50%}
.slides .slick-dots.small li{padding:0 4px;}
.slides .slick-dots.small button{width:8px;height:8px;}

.slides.category .slick-arrow{display:none!important;}
.slides.category + .lnb{left:50px;}
.slides.category .info{width:500px;left:350px;}
.slides.category .brand,
.slides.category .tit,
.slides.category .desc{display:block;width:100%;}
.slides.category .brand{font-size:25px;line-height:30px;font-weight:700;margin-bottom:6px;}
.slides.category .tit{font-size:44px;line-height:58px;font-weight:500;margin-bottom:22px;}
.slides.category .desc{font-size:18px;line-height:24px;}

.slides.brandissue{margin-bottom:40px;}
.slides.brandissue .brand,
.slides.brandissue .desc{display:block;width:100%;}
.slides.brandissue .brand{font-size:50px;line-height:52px;font-weight:700;margin-bottom:16px;}
.slides.brandissue .desc{font-size:22px;line-height:24px;}

.slides.seasonissue .item a{float:left;width:50%;height:240px;-webkit-background-size:cover;
background-size:cover;}
.slides.seasonissue .item .info{position:absolute;left:50px;bottom:35px;width:360px;}
.slides.seasonissue .item .tit{display:block;font-size:22px;line-height:24px;font-weight:700;margin-bottom:9px;}
.slides.seasonissue .item .desc{font-size:14px;line-height:22px;}
.slides.seasonissue .slick-arrow{display:none!important;}

.site_main.category{padding-bottom:79px;}
.site_main.category .wrap_listproduct{position:relative;}
.site_main.category .wrap_listproduct:after{width:1180px;height:1px;top:auto;bottom:0;}
.site_main.category .wrap_listproduct .list_product >li{padding-bottom:54px;}
.site_main.category .layout_full + .wrap_listproduct{margin-top:96px;padding-bottom:41px;}
.site_main.category .wrap_listproduct + .wrap_listproduct{border-width:0 0 1px;margin-top:52px;}
.site_main.category .wrap_listproduct + .wrap_brandissue{margin-top:72px;}

.wrap_brandissue{margin-bottom:112px;}
.wrap_brandissue .slick-dots{display:none!important;}
.wrap_brandissue .list_brand{width:1180px;margin:0 auto;}
.wrap_brandissue .list_brand .item{width:382px;}
.wrap_brandissue .list_brand .item + .item{margin-left:17px;}
.wrap_brandissue .list_brand .item >.img,
.wrap_brandissue .list_brand .item >.inner{display:block;width:100%;}
.wrap_brandissue .list_brand .item >.inner{margin-bottom:34px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.wrap_brandissue .list_brand .item >.inner .s_tit{display:block;font-size:25px;line-height:27px;font-weight:700;margin-bottom:10px;}
.wrap_brandissue .list_brand .item >.inner .desc{font-size:16px;line-height:24px;}
.wrap_brandissue .list_brand .item >.img{margin-bottom:22px;}
.wrap_brandissue .list_brand .list_product.small.vertical >li,
.wrap_brandissue .list_brand .item >.inner{padding-right:60px!important;}

.wrap_seasonissue .wrap_listproduct{margin-top:90px!important;}


@media all and (min-width:1600px){
	.list_product{width:1260px;}
	.list_product >li,
	.list_product .img{width:300px}
	.list_product .func{top:315px;}
	.list_product .name{overflow:hidden;white-space:nowrap;}
	.list_product .out{top:273px;}
	.list_product.fix5,
	.wrap_listproduct,
	.wrap_listproduct:after,
	.wrap_listproduct >.tit,
	.wrap_brandissue >.tit,
	.wrap_brandissue .list_brand,
	.wrap_seasonissue >.tit{width:1500px!important;}
	.list_product.fix5 .out{top:257px;}
	.list_product.fix5 .func{top:299px;}
	.list_product.small >li{padding-right:78px;}
	.slides.category .info{left:190px;}
	.wrap_brandissue .list_brand .item{width:488px;}
	.wrap_brandissue .list_brand .item + .item{margin-left:18px;}
	.slides.seasonissue .item a{height:300px;}
}
@media all and (min-width:1920px){
	.list_product{width:1580px;}
	.list_product >li,
	.list_product .img{width:380px}
	.list_product .func{top:395px;}
	.list_product .out{top:353px;}
	.list_product.fix5,
	.wrap_listproduct,
	.wrap_listproduct:after,
	.wrap_listproduct >.tit,
	.wrap_brandissue >.tit,
	.wrap_brandissue .list_brand,
	.wrap_seasonissue >.tit{width:1820px!important;}
	.list_product.fix5 .out{top:321px;}
	.list_product.fix5 .func{top:363px;}
	.list_product.small >li{padding-right:79px;}
	.slides.category .info{left:110px;}
	.wrap_brandissue .list_brand .item{width:594px;}
	.wrap_brandissue .list_brand .item + .item{margin-left:19px;}
	.slides.seasonissue .item a{height:361px;}
}












