@charset "utf-8";

/* 카테고리 */
.event_view_banner .item,
.slides.brand_view .item,
.top_visual .item>a,
.slides.seasonissue .item >a,
.event_view_banner .item{-webkit-background-size:cover;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;}
.top_visual .item>a,
.slides.brand_view .item{display:block;width:100%;padding-top:100%;}
.slides.seasonissue{padding-bottom:85px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding-top:54.6666666667%;height:0;}
.slides.seasonissue .item >a{background-position:50% 0;padding-top:54.6666666667%;-webkit-background-size:100% auto;background-size:100% auto;}
.slides.seasonissue .item .info{position:static;padding:36px 16px 0;}
.slides.seasonissue .item .tit,
.slides.seasonissue .item .desc{text-overflow:ellipsis;overflow:hidden;display:block;white-space:nowrap}
.slides.seasonissue .item .tit{font-size:16px;line-height:21px;margin-bottom:8px;color:#333!important}
.slides.seasonissue .item .desc{font-size:14px;line-height:20px;color:#333!important}
.slides.seasonissue .slick-dots{bottom:auto;margin-top:12px;}
.slides.seasonissue .slick-list{position:absolute;width:100%;left:0;top:0;}
.wrap_listproduct>.tit,
.wrap_listproduct>.inner>.tit,
.wrap_brandissue>.tit,
.wrap_seasonissue>.tit{font-size:18px;font-weight:700;padding:0 16px;margin-bottom:9px;display:block;}
.wrap_listproduct{padding:35px 0 0;border-top:1px solid #eaeaea;}
.wrap_listproduct .img_tit{margin-bottom:20px;padding-top:5px;}
.wrap_listproduct .img_tit .img img{max-width:none;width:100%;}
.site_main.category{padding-bottom:0;}
.site_main.category >.wrap_listproduct{border-top:0;padding-top:36px;}
.site_main.category >.wrap_listproduct:nth-child(2){padding-top:0;margin-top:26px;}
.site_main.category >.wrap_listproduct:nth-child(3),
.site_main.category >.wrap_brandissue{border-top:8px solid #f0f0f0;}
.site_main.category .btn_more{width:125px;height:35px;border-color:#bbb;font-size:14px;margin:-6px auto 30px;}
.site_main.category .wrap_listproduct>.tit,
.site_main.category .wrap_listproduct>.inner>.tit,
.wrap_brandissue>.tit,
.wrap_seasonissue>.tit{font-size:20px;}
.wrap_brandissue{padding-top:36px;}
.slides.brandissue{margin-bottom:25px;}
.wrap_brandissue .list_brand{width:100%;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.wrap_brandissue .list_brand .item{width:100%;}
.wrap_brandissue .list_brand .item + .item{margin-top:26px;}
.wrap_brandissue .list_brand .item>.img{position:relative;display:block;width:100%;height:0;padding-top:100%;margin-bottom:20px;}
.wrap_brandissue .list_brand .item .inner,
.wrap_brandissue .list_brand .item .list_product{padding:0 16px;}
.wrap_brandissue .list_brand .s_tit{display:block;font-size:25px;font-weight:700;color:#111;line-height:27px;margin-bottom:9px;}
.wrap_brandissue .list_brand .desc{line-height:18px;color:#333;margin-bottom:26px;}
.slides.brandissue .item .inner{-ms-flex-pack:start;justify-content:flex-start;padding-bottom:46px;}
.slides.brandissue .item .brand{font-size:28px;line-height:36px;margin-bottom:6px;}
.slides.brandissue .item img{max-width:none;width:100%;}
.wrap_brandissue .list_brand .list_product.small .link >.flag{left:0;width:80px;}
.wrap_seasonissue{margin-top:22px;}
.wrap_seasonissue .wrap_listproduct{padding-top:0;border:0;margin-top:25px;}

/* 브랜드 */
.brand_view.view_main .slides.brand_view {padding-bottom:8px;}
.brand_view.view_main .slides.brand_view .item {margin-bottom:80px;}
.brand_view.view_main .slides.brand_view .item .desc {position:absolute;bottom:-80px;left:0;right:0;width:100%;height:80px;padding:22px 16px 20px;border-bottom:1px solid #e5e5e5;font-size:13px;background-color:#f7f7f7;color:#555;}
.brand_view.view_main .slides.brand_view:not(.white) .item:not(.white) .desc {color:#555;}

.brand_view.lookbook .top_visual,
.site_main.brand_lookbook .top_visual{display:none;}
.brand_view.lookbook .cont .list_product.lookbook,
.site_main.brand_lookbook .list_product.lookbook{overflow:hidden;padding:0;}
.brand_view.lookbook .cont .list_product.lookbook li,
.site_main.brand_lookbook .list_product.lookbook li{width:100%;}
.brand_view.lookbook .cont .list_product.lookbook .link,
.site_main.brand_lookbook .list_product.lookbook .link{padding-bottom:22px;height:auto;}
.brand_view.lookbook .cont .list_product.lookbook .link .img,
.site_main.brand_lookbook .list_product.lookbook .link .img{margin:0;}
.brand_view.lookbook .cont .list_product.lookbook .link .name,
.site_main.brand_lookbook .list_product.lookbook .link .name{display:block;overflow:hidden;height:55px;margin:0;padding:0 16px;font-weight:500;font-size:25px;
	line-height:55px;white-space:nowrap;text-overflow:ellipsis;}
.brand_view.lookbook .slides.brand_view .info {display:none;}
.lookbook_view .lookbook_info {padding:30px 16px 20px;}
.lookbook_view .lookbook_info >.img{display:none;}
.lookbook_view .lookbook_info .brand {display:none;}
.lookbook_view .lookbook_info .tit {font-size:25px;}
.lookbook_view .lookbook_info .date {display:none;}
.lookbook_view .lookbook_func {display:flex;padding:0 16px;margin-bottom:20px;}
.lookbook_view .lookbook_func .spr_before:before {position:static;vertical-align:middle}
.lookbook_view .lookbook_func .spr_before .count {position:static;margin:-1px 0 0 -3px;transform:translate(0,0);}
.lookbook_view .lookbook_func .wrap_share {width:50px;margin-left:-8px;}
.lookbook_view .lookbook_func .btn_like {width:100px;}
.lookbook_view .lookbook_func .btn_reply {width:43px;}
.lookbook_view .lookbook_cont {margin-bottom:40px;}
.lookbook_view .lookbook_cont .desc {margin-bottom:30px;padding:0 16px;font-size:16px;}
.lookbook_view .lookbook_related{margin-top:40px;}
.brand_exclusive .wrap_listproduct>.tit,
.brand_best .wrap_listproduct>.tit{font-size:20px;}
.brand_exclusive .wrap_listproduct,
.brand_best .wrap_listproduct{border-top:0;padding-top:27px;}
.brand_top2{padding:0 16px;display:-ms-flexbox;display:flex}
.brand_top2 li{position:relative;border:1px solid #d0d0d0;width:50%;height:145px;}
.brand_top2 li + li{margin-left:-1px;}
.brand_top2 li>img,
.brand_top2 .btn_like{display:none;}
.brand_top2 .info,
.brand_top2 .inner{width:100%;height:100%;position:static;-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none;}
.brand_top2 .inner >a{display:block;width:100%;height:100%;padding-top:10px;}
.brand_top2 .inner >a img{height:70px;margin:0 auto 9px;display:block;}
.brand_top2 .inner >a strong,
.brand_top2 .inner >a em{display:block;text-align:center;}
.brand_top2 .inner >a strong{font-size:13px;margin-bottom:-5px;}
.brand_top2 .inner >a em{font-size:12px;}
.brand_best .best_list{padding-top:26px;padding-bottom:25px;}
.brand_best .best_list ul{width:100%;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:0 16px;}
.brand_best .best_list li{width:50%;margin-top:21px;}
.brand_best .best_list li:nth-child(1),
.brand_best .best_list li:nth-child(2){margin-top:0;}
.brand_best .best_list li>a{display:block;position:relative;padding:0 10px;}
.brand_best .best_list li>a img{display:none;}
.brand_best .best_list .name{display:block;font-weight:500;}
.brand_best .best_list .eng{font-size:17px;margin-bottom:1px;}
.brand_best .best_list .kor{font-size:15px;}
.brand_best .wrap_listproduct{border-bottom:8px solid #f4f4f4}
.brand_best .wrap_listproduct:last-child{border-bottom:0;}
.site_main.brand_best{padding-bottom:0;}
.site_main.brand_lookbook .list_product.lookbook{-ms-flex-wrap:wrap;flex-wrap:wrap}
.site_main.brand_lookbook .list_product.lookbook .brand{display:none;}

/* 장바구니 */
.site_main.bag{padding-bottom:0;}
.site_main.bag .cert_cont{position:relative;padding-top:83px;}
.site_main.bag .cert_cont>.tit{display:none;}
.site_main.bag .cert_cont >.table_st{border-bottom:8px solid #f0f0f0;}
.site_main.bag .cert_cont >.table_st th:first-child{visibility:visible;display:block;height:23px;width:100px;position:static;}
.site_main.bag .cert_cont >.table_st th:not(:first-child){display:none;}
.site_main.bag .cert_cont >.table_st th:first-child label{text-align:left;}
.site_main.bag .cert_cont >.table_st + .btns{position:absolute;left:0;top:0;width:100%;height:83px;padding:17px 16px 0;}
.site_main.bag .cert_cont >.table_st + .btns .btn_del{border-width:0;padding:0;width:auto;height:auto;color:#888;position:absolute;right:16px;bottom:-21px;font-size:14px;}
.site_main.bag .cert_cont >.table_st thead{display:block;width:100%;padding-left:16px;height:39px;}
.site_main.bag .cert_cont .btns .dot_list li{color:#888;}
.site_main.bag .cert_cont .btns .dot_list li:before{background-color:#888;}
.site_main.bag .cert_cont .calc,
.site_main.bag .cert_cont .calc+.btns{display:none;}
.site_main.bag .cert_cont .banner{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.site_main.bag .cert_cont .banner a{position:relative;}
.site_main.bag .cert_cont .banner .info{position:absolute;top:50%;left:30px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);width:calc(100% - 60px);}
.site_main.bag .cert_cont .banner .tit{font-size:20px;font-weight:700;display:block;margin-bottom:15px;}
.site_main.bag .cert_cont .banner .desc{font-size:14px;line-height:18px;display:block;}
.site_main.bag .list_product.small{overflow:visible;}
.site_main.bag .list_product.small .link,
.editOptionm_layer .list_product.small .link{padding-left:92px;}
.site_main.bag .list_product.small .link .img,
.editOptionm_layer .list_product.small .link .img{width:80px;height:80px;}
.site_main.bag tbody tr{padding:10px 16px 28px;border-top:1px solid #e5e5e5;position:relative;}
.site_main.bag tbody tr td:first-child:not(:only-child){width:23px;margin-bottom:10px;}
.site_main.bag tbody tr td:first-child label{width:0;padding-left:23px;overflow:hidden;}
.site_main.bag tbody tr td:nth-child(3),
.site_main.bag tbody tr td:nth-child(5){display:none;}
.site_main.bag tbody tr.disabled td:nth-child(4){padding-left:90px;font-weight:bold;font-size:20px;margin-top:23px;}
.site_main.bag tbody .edit,
.site_main.bag tbody .del{position:absolute;top:-28px;}
.site_main.bag tbody .edit,
.site_main.bag tbody .del,
.site_main.bag tbody .del button{font-size:13px;color:#888;height:17px;line-height:18px;}
.site_main.bag tbody .del:before{content:'';width:1px;height:12px;background-color:#d0d0d0;position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
.site_main.bag tbody .edit{right:64px;}
.site_main.bag tbody .del{right:0;padding-left:21px;}
.site_main.bag tbody .alram,
.site_main.bag tbody .buy{position:absolute;right:0;bottom:-49px;width:109px;height:35px;background-color:#f0f0f0;font-size:12px;color:#555;}
.site_main.bag tbody .link{min-height:80px;height:auto;}
.site_main.bag tbody .order_price{margin-top:23px;}
.site_main.bag + .site_footer{padding-bottom:85px;}
.bag_tabnav{position:fixed;left:0;bottom:0;width:100%;height:65px;background-color:#111;}
.bag_tabnav.on_m{display:-ms-flexbox;display:flex}
.bag_tabnav .right{margin-left:auto;}
.bag_tabnav .left{margin-right:auto;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;padding-left:30px;}
.bag_tabnav .buy{width:92px;height:65px;font-size:18px;font-weight:700;color:#fff;}
.bag_tabnav .left{color:#fff;font-weight:500;font-size:15px;}
.bag_tabnav .left span{font-size:17px;}
.bag_tabnav .left .info{width:32px;height:32px;position:relative;margin-left:2px;}
.bag_tabnav .left .info:after{width:22px;height:22px;background-position:-177px -110px;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.bag_tabnav_layer{width:calc(100% - 32px);bottom:54px;padding:0 20px!important;}
.bag_tabnav_layer .btn_close{right:10px;top:10px;left:auto;}
.bag_tabnav_layer .layer_tit,
.bag_tabnav_layer .layer_cont{padding-left:0!important;padding-right:0!important;}
.bag_tabnav_layer .layer_cont{padding-bottom:15px!important;}
.bag_tabnav_layer dt{color:#555;float:left;width:80px;font-size:13px;line-height:21px;}
.bag_tabnav_layer dd{color:#333;float:right;width:calc(100% - 80px);text-align:right;font-size:14px;line-height:21px;}
.editOptionm_layer{padding:22px 0!important;}
.editOptionm_layer .item{padding-top:30px;}
.editOptionm_layer .item em{display:block;font-size:12px;line-height:12px;margin-bottom:10px;}
.editOptionm_layer .item .input_select{display:block;}
.editOptionm_layer .item .input_select select{color:#333;}
.editOptionm_layer .item .input_select + .input_select{margin-top:10px;}
.editOptionm_layer .item + .item{border-top:1px solid #e5e5e5;margin-top:30px;}
.editOptionm_layer .input_select + em{margin-top:24px;}
.editOptionm_layer .list_product.small .link{height:auto;min-height:80px}
.editOptionm_layer .edit_conform{width:100%;height:55px;background-color:#111;color:#fff;font-size:16px;font-weight:500;position:absolute;left:0;bottom:0;}
.editOptionm_layer .layer_cont{bottom:55px!important;padding:0 16px 30px!important;left:0 !important;right:0 !important;}
.editOptionm_layer .layer_tit{padding-left:16px!important;}
.site_main.bag table.noresult{margin-top:-35px;}
.site_main.bag table.noresult thead{display:none!important}
.site_main.bag table.noresult tr{border:0!important;padding-bottom:55px;}
.site_main.bag table.noresult + .btns{display:none;}












