@charset "utf-8";

/* 아코디언 메뉴 */
.accordion .item:not(:first-child){border-top:1px solid #e5e5e5;}
.accordion .top{padding:0 0 0 16px;height:60px;}
.accordion .top strong{font-size:15px;font-weight:500;}
.accordion .top .open{width:44px;height:44px;position:relative;margin-left:auto;}
.accordion .top .open:after,
.accordion .top .open:before{content:'';position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#d0d0d0;}
.accordion .top .open:after{width:1px;height:12px;}
.accordion .top .open:before{width:12px;height:1px;}
.accordion .item .folded{padding:0;overflow:hidden;transition-property:height}
.accordion .item .folded.close{height:0!important;}
.accordion .item.open .top .open{margin-left:auto;}
.accordion .item.open .top .open:after{display:none;}
.accordion .item.open .top .open:before{background-color:#333;}

.dot_list li{font-size:12px;line-height:20px;position:relative;padding-left:7px;color:#333;}
.dot_list li+li{margin-top:2px}
.dot_list li:before{content:'';width:2px;height:2px;position:absolute;left:0;top:9px}

.event_view_banner .item,
.slides.brand_view .item,
.top_visual .item>a,
.slides.seasonissue .item >a,
.event_view_banner .item{-webkit-background-size:cover;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;}
.top_visual .item>a,
.slides.brand_view .item{display:block;width:100%;padding-top:100%;}

.wrap_brandissue .list_brand{width:100%;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.wrap_brandissue .list_brand .item{width:100%;}
.wrap_brandissue .list_brand .item>.img{position:relative;display:block;width:100%;height:0;padding-top:100%;margin-bottom:22px;}
.slides.brandissue .item .inner{-ms-flex-pack:start;justify-content:flex-start;padding-bottom:46px;}
.slides.brandissue .item .brand{font-size:28px;line-height:36px;margin-bottom:6px;}
.slides.brandissue .item img{max-width:none;width:100%;}
.slides.seasonissue{padding-bottom:85px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding-top:54.6666666667%;height:0;}
.slides.seasonissue .item >a{background-position:50% 0;padding-top:54.6666666667%;-webkit-background-size:100% auto;background-size:100% auto;}
.slides.seasonissue .item .info{position:static;padding:36px 16px 0;}
.slides.seasonissue .item .tit,
.slides.seasonissue .item .desc{text-overflow:ellipsis;overflow:hidden;display:block;white-space:nowrap}
.slides.seasonissue .item .tit{font-size:16px;line-height:21px;margin-bottom:8px;}
.slides.seasonissue .item .desc{font-size:14px;line-height:20px;}
.slides.seasonissue .slick-dots{bottom:auto;margin-top:12px;}
.slides.seasonissue .slick-list{position:absolute;width:100%;left:0;top:0;}

.slides.brand_view .item,
.event_view_banner .item{position:relative;padding-top:100vw;}
.slides.brand_view .info{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.slides.brand_view .btn_like{-webkit-order:-1;-moz-order:-1;-ms-order:-1;-o-order:-1;order:-1;margin-bottom:29px;}
.slides.brand_view .name.eng{margin-bottom:0;text-transform:uppercase;}

.wrap_listproduct>.tit,
.wrap_listproduct>.inner>.tit{font-size:18px;font-weight:700;padding:0 16px;margin-bottom:15px;display:block;}

.wrap_listproduct{padding:35px 0 0;border-top:1px solid #eaeaea;}
.wrap_listproduct .img_tit{margin-bottom:20px;padding-top:5px;}
.wrap_listproduct .img_tit .img img{max-width:none;width:100%;}

.reply_list .img{position:relative;}

.brand_top2 li{position:relative;}
.best_list li a{display:block;position:relative;}

/* 메인 */
.slides.slide_main_m{padding-bottom:0}
.slides.slide_main_m .item>a>.img{position:relative;width:100%;height:0;padding-top:100%;}
.slides.slide_main_m .item>a>.img img{width:auto;max-width:none;height:100%;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.slides.slide_main_m .item>a.main_video>.img:after{width:45px;height:45px;background-position:0 -112px;}
.slides.slide_main_m .info{padding:20px 16px 0;height:200px!important;}
.slides.slide_main_m .slick-dots{bottom:20px;}
.main_items{-ms-flex-wrap:wrap;flex-wrap:wrap;width:100%;}
.main_items .half{width:100%;}
.main_items .quarter{width:100%;}
.main_items .in_pic{display:block;position:relative;}
.main_items .in_pic .info{position:absolute;left:0;bottom:36px;padding:0 30px;width:100%;}
.main_items .in_pic .info .brand{display:block;font-size:28px;line-height:36px;font-weight:700;margin-bottom:5px;}
.main_items .in_pic .info .desc{font-size:14px;line-height:20px;}
.reviewer>.list>li>a .img{position:relative;}

/* 프로덕트 리스트 */
.site_main.product .cont>.func,
.site_main.brand_view .cont>.func{padding:16px;position:relative;}
.site_main.product .cont>.func button,
.site_main.brand_view .cont>.func button{color:#888;overflow:hidden;}
.site_main.product .cont>.func:after,
.site_main.brand_view .cont>.func:after{content:'';display:block;height:0;overflow:hidden;font-size:0;clear:both;opacity:0;line-height:0;}
.site_main.product .cont>.func li,
.site_main.brand_view .cont>.func li{float:left;position:relative;padding:0 16px}
.site_main.product .cont>.func li:first-child,
.site_main.brand_view .cont>.func li:first-child{padding-left:0;}
.site_main.product .cont>.func li:first-child:after,
.site_main.brand_view .cont>.func li:first-child:after{content:'';width:1px;height:13px;background-color:#d0d0d0;position:absolute;left:auto;right:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
.site_main.product .cont>.func .sort,
.site_main.product .cont>.func .sort_m,
.site_main.brand_view .cont>.func .sort,
.site_main.brand_view .cont>.func .sort_m{font-size:14px;}
.site_main.product .cont>.func .sort .text,
.site_main.product .cont>.func .filter,
.site_main.brand_view .cont>.func .sort .text,
.site_main.brand_view .cont>.func .filter{height:23px;line-height:25px;overflow:hidden;}
.site_main.product .cont>.func .sort .text,
.site_main.brand_view .cont>.func .sort .text{display:block;}
.site_main.product .cont>.func .filter,
.site_main.brand_view .cont>.func .filter{font-size:16px;}
.site_main.product .cont>.func li:last-child,
.site_main.brand_view .cont>.func li:last-child{position:static;}
.site_main.product .cont>.func .view_change,
.site_main.brand_view .cont>.func .view_change{position:absolute;right:16px;top:50%;width:22px;height:22px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
.site_main.product .cont>.func .view_change:after,
.site_main.brand_view .cont>.func .view_change:after{width:22px;height:22px;background-position:-47px -135px;}
.site_main.product .cont>.func .view_change.list:after,
.site_main.brand_view .cont>.func .view_change.list:after{background-position:-47px -111px;}
.site_main.product .cont>.func .sort_m,
.site_main.brand_view .cont>.func .sort_m{color:#888;border:0;border-radius:0;background-color:transparent;height:24px;line-height:25px;overflow:hidden;}

.dim_layer .wrap_layer.mfilter_layer{padding-left:0;padding-right:0;padding-top:0;}
.dim_layer .wrap_layer.mfilter_layer .layer_tit{font-size:18px;padding:0 16px;height:71px;line-height:70px;border-bottom:1px solid #e5e5e5;}
.dim_layer .wrap_layer.mfilter_layer .layer_cont{left:0;right:0;bottom:0;overflow:hidden;}

.mfilter_layer .select_check{position:relative;background-color:#fff}
.mfilter_layer .item.color .select_check{margin:0 10px 20px}
.mfilter_layer .item.color label,
.mfilter_layer .item.color .select_check>span{width:30px;height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;border-radius:15px;text-indent:-150px;overflow:hidden}
.mfilter_layer .item.color label:not(.lc_d0),
.mfilter_layer .item.color .select_check>span:not(.lc_d0){border-color:rgba(0,0,0,0);border-style:solid;border-width:1px}
.mfilter_layer .item.color label:after,
.mfilter_layer .item.color .select_check>span:after{width:12px;height:8px;display:none}
.mfilter_layer .item.color label.w:after,
.mfilter_layer .item.color .select_check>span.w:after{background-position:-134px -34px}
.mfilter_layer .item.color label.b:after,
.mfilter_layer .item.color .select_check>span.b:after{background-position:-118px -34px}
.mfilter_layer .item.color label:before{width:30px;height:30px;background-position:-71px -101px;}
.mfilter_layer .item.color input:checked + label:after{display:block}
.mfilter_layer .item.square .select_check{width:55px;height:55px;margin:0 3px 6px}
.mfilter_layer .item.square label,
.mfilter_layer .item.square .select_check>span{position:relative;width:55px;height:55px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-ms-word-break:break-all;word-break:break-all;text-align:center;font-size:13px;line-height:16px;border-width:0;background-color:#fff;}
.mfilter_layer .item.square label:after,
.mfilter_layer .item.square label:before,
.mfilter_layer .item.square .select_check>span:after,
.mfilter_layer .item.square .select_check>span:before{position:absolute;left:0;top:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:55px;height:55px;content:'';border-width:1px;border-style:solid}
.mfilter_layer .item.square label:after{border-width:2px;}
.mfilter_layer .item.square label:after,
.mfilter_layer .item.square .select_check>span:after{display:none}
.mfilter_layer .item.square input:checked+label:after{display:block}

.mfilter_layer .item.color label.lc_d0,
.mfilter_layer .item.color .select_check>span.lc_d0{border-style:solid;border-width:1px;background-color:#fff;}
.mfilter_layer .item.color .select_check>span{width:17px;height:17px;border-radius:50%}
.mfilter_layer .item.color .select_check>span:before{width:17px;height:17px;background-position:-103px -101px;}
.mfilter_layer .item.color label.w:after{background-position:-169px -59px;}
.mfilter_layer .item.color label.b:after{background-position:-169px -49px;}
.mfilter_layer .item.color .select_check{margin:0 11px 20px;}
.mfilter_layer .item.square .select_check{margin:0 5.5px 11px;}
.mfilter_layer .item.color .folded .inner{padding:0 0 10px 5px;}
.mfilter_layer .item.square .folded .inner{padding:0 0 19px 10.5px;}
.mfilter_layer .accordion{overflow-x:hidden;overflow-y:auto;height:calc(100% - 55px);}
.mfilter_layer .accordion .top .summary{margin-left:auto;}
.mfilter_layer .accordion .top .summary .select_check{margin:0 5px!important;}
.mfilter_layer .accordion .top .summary .desc,
.mfilter_layer .accordion .top .summary .more{font-size:13px;color:#888;line-height:18px;overflow:hidden;height:17px;}
.mfilter_layer .accordion .top .summary .more{padding-left:5px;}
.mfilter_layer .accordion .top .summary + .open{margin-left:0;}
.mfilter_layer .accordion .item.open .top .summary{display:none;}
.mfilter_layer .accordion .item.open .open{margin-left:auto;}
.mfilter_layer .btns{position:absolute;left:0;bottom:0;width:100%;}
.mfilter_layer .btns button{width:50%;}
.mfilter_layer .btns .btn_reset{color:#bbb}

/* 프로덕트 뷰 */
.site_main.view .slides.slides_m{margin-bottom:27px;}
.viewdetail .info .brand{display:none;}
.viewdetail .info .name{padding:0 16px;}
.viewdetail .info .name{color:#111;font-size:16px;font-weight:500;margin-bottom:13px;}
.viewdetail .info .price:not(.lc_e5) dt,
.viewdetail .info .price:not(.lc_e5) .now,
.viewdetail .info .share{display:none;}
.viewdetail .info .price{border-bottom:1px solid #e5e5e5;padding-bottom:18px;margin:0 16px;}
.viewdetail .info .price .origin{font-size:16px;}
.viewdetail .info .price .now{font-weight:700;}
.viewdetail .info .price dd{margin-bottom:-2px;}
.viewdetail .info .price dd:last-child{font-size:25px;font-weight:700;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin-bottom:0;}
.viewdetail .info .price dd:last-child .now{display:inline-block;}
.viewdetail .info .price dd:last-child .sale{margin-right:7px;}
.viewdetail .info .price .btn_coupon{margin-left:auto;}
.viewdetail .info .price.lc_e5{border:0;padding:0;margin:11px 16px 24px;}
.viewdetail .info .price.lc_e5 dt,
.viewdetail .info .price.lc_e5 dd{float:left;font-size:20px;font-weight:400;height:22px;}
.viewdetail .info .price.lc_e5 dt{font-size:12px;width:52px}
.viewdetail .info .price.lc_e5 dd{font-size:13px;width:calc(100% - 52px);}
.viewdetail .info .price.lc_e5 dd .now{font-weight:400;}
.viewdetail .info .price.lc_e5 dt:nth-of-type(2){clear:both;}
.viewdetail .info .price.lc_e5 dd:nth-of-type(2){width:auto;}
.viewdetail .info .price.lc_e5 dd:last-child{width:auto;}
.viewdetail .info .price.lc_e5 .view_benefits{font-size:11px;color:#333;line-height:23px;height:22px;text-decoration:underline;margin-left:12px;}
.viewdetail .info .price.lc_e5 + .banner_m{margin-top:0;}
.viewdetail .banner_m{margin-top:30px;margin-bottom:30px;}
.viewdetail .banner_m a{display:block;width:100%;max-width:none}
.viewdetail .banner_m .item{padding:0 16px;}
.viewdetail .banner_m .item:only-child{margin-bottom:-18px;}
.viewdetail .accordion{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5}
.viewdetail .accordion .inner{padding-bottom:30px;}
.viewdetail .accordion .flag{margin-left:8px;}
.viewdetail .accordion table{margin:0 16px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;width:calc(100% - 32px);}
.viewdetail .accordion th{text-align:left;background-color:#f4f4f4;color:#555;}
.viewdetail .accordion td{color:#333}
.viewdetail .accordion th,
.viewdetail .accordion td{border-top:1px solid #e5e5e5;padding:10px 14px 8px;font-size:12px;line-height:17px}
.viewdetail .accordion tr:first-child th,
.viewdetail .accordion tr:first-child td{border-top:0;}
.viewdetail .accordion thead th{border-bottom:1px solid #e5e5e5}
.viewdetail .accordion .size th,
.viewdetail .accordion .size td{text-align:center;}
.viewdetail .accordion .size strong{display:block;padding:0 16px;font-size:14px;color:#333;font-weight:500;margin-bottom:6px;}
.viewdetail .accordion .size table + strong{margin-top:27px;}
.viewdetail .associated{padding:27px 0 0;height:280px;}
.viewdetail .associated .tit{display:block;font-size:15px;font-weight:500;padding:0 16px;margin-bottom:9px;}
.viewdetail .associated .slides,
.site_main.view .maylike .list{display:-ms-flexbox;display:flex;width:100%;overflow-y:hidden;overflow-x:auto;flex-wrap:nowrap;padding:0 16px;-webkit-overflow-scrolling:touch;padding-bottom:10px;}
.viewdetail .associated .item,
.site_main.view .maylike .list li{width:140px;position:relative;-webkit-flex:none;-moz-flex:none;-ms-flex:none;-o-flex:none;flex:none;display:-ms-inline-flexbox!important;display:inline-flex!important;}
.viewdetail .associated .item + .item,
.site_main.view .maylike .list li + li{margin-left:10px;}
.viewdetail .associated .item:last-child,
.site_main.view .maylike .list li:last-child{padding-right:16px;width:156px;}
.viewdetail .associated .item a{display:block;}
.viewdetail .associated .item span{display:block;font-size:12px;line-height:17px;padding-right:20px;padding-top:12px;}
.site_main.view .banner_view{display:none;}
.site_main.view,
.site_main.view .viewdetail,
.site_main.view .maylike,
.site_main.view .list_tab.on_m,
.site_main.view .cont_product.view,
.site_main.view .reviewer.view,
.site_main.view .wrap_board.view{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;width:100%;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.site_main.view .cont_product,
.site_main.view .reviewer,
.site_main.view .wrap_board{display:none}
.site_main.view .list_tab.on_m{-webkit-order:1;-moz-order:1;-ms-order:1;-o-order:1;order:1;}
.site_main.view .cont_product.view,
.site_main.view .reviewer.view,
.site_main.view .wrap_board.view{-webkit-order:2;-moz-order:2;-ms-order:2;-o-order:2;order:2;padding-left:16px;padding-right:16px;}
.site_main.view .maylike{-webkit-order:3;-moz-order:3;-ms-order:3;-o-order:3;order:3;}
.site_main.view .viewdetail .slides_m,
.site_main.view .viewdetail .info{width:100%;}
.site_main.view .cont_product.view,
.site_main.view .wrap_board.view{padding-top:20px;padding-bottom:40px;}
.site_main.view .reviewer.view{padding-top:12px;}
.site_main.view .maylike{border-top:1px solid #e5e5e5;padding-top:27px;}
.site_main.view .maylike .list{padding-bottom:0;}
.site_main.view .maylike .list li{height:237px;}
.site_main.view .maylike .tit{font-size:16px;font-weight:700;padding:0 16px;margin-bottom:9px;}
.site_main.view .maylike .inner{padding-right:15px;padding-top:9px;}
.site_main.view .maylike .inner p{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-all;-ms-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;line-height:16px;font-size:12px;height:32px;}
.site_main.view .maylike .inner em{color:#333;font-size:13px;font-weight:700;display:block;line-height:16px;}
.site_main.view .maylike .price .origin{font-size:11px;}
.site_main.view_product .maylike,
.site_main.view_product .cont_product,
.site_main.view_reviewer .reviewer,
.site_main.view_board .wrap_board{display:-ms-flexbox!important;display:flex!important;}
.site_main.view_product .reviewer,
.site_main.view_product .wrap_board,
.site_main.view_reviewer .maylike,
.site_main.view_reviewer .cont_product,
.site_main.view_reviewer .wrap_board,
.site_main.view_board .maylike,
.site_main.view_board .cont_product,
.site_main.view_board .reviewer{display:none!important;}
.site_main.view .reviewer .tit{display:none;}
.site_main.view .reviewer .img{position:absolute!important;width:110px;height:110px;border-radius:50%;overflow:hidden;left:0;top:12px;}
.site_main.view .reviewer li{position:relative;}
.site_main.view .reviewer li>a{position:relative;display:-ms-flexbox;display:flex;height:134px;padding-left:125px;-ms-flex-align:center;align-items:center}
.site_main.view .reviewer .info{padding-bottom:28px;}
.site_main.view .reviewer .info em{display:block;font-size:16px;line-height:29px;font-weight:700;}
.site_main.view .reviewer .info p{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-all;-ms-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;line-height:18px;font-size:13px;height:36px;}
.site_main.view .reviewer .feedback{height:14px;position:absolute;left:125px;bottom:24px;}
.site_main.view .reviewer .feedback .btn_reply{margin-left:21px;}
.site_main.view .reviewer .list{margin-bottom:18px;}







