@charset "utf-8";

* {-webkit-box-sizing:border-box;box-sizing:border-box;}
body {min-width:320px;}

.spr_after:after,
.spr_before:before{background-image:url(../img/m/spr.png);-webkit-background-size:200px 200px;background-size:200px 200px;}
.wrap_layer {position:absolute;z-index:30;max-width:315px;padding:22px 16px;border:1px solid #ddd;border-radius:10px;background-color:#fff;}
.wrap_layer > ul {overflow-x:hidden;overflow-y:auto;max-height:335px;padding:0 16px;margin:0 -16px;}
.banner_top {display:none;}

.site_header {position:fixed;top:0;right:0;left:0;z-index:10;background-color:#fff;}
.site_header .inner {height:55px;}
.site_header .logo {height:100%;text-align:center;}
.site_header .logo a {display:inline-block;margin:16px auto 0;}
.site_header .logo a:before {width:126px;height:21px;}
.site_header .logo.sub {position:absolute;top:16px;left:16px;width:22px;height:22px;}
.site_header .logo.sub a {margin:0;}
.site_header .logo.sub a:before {width:22px;height:22px;background-position:-130px 0;}
.site_header .tit_sub {padding-top:17px;font-weight:bold;font-size:20px;text-align:center;}

.site_header .gnb {overflow:hidden;position:fixed;top:0;right:0;bottom:50px;left:0;z-index:10;width:100%;height:0;background-color:rgba(255,255,255,0.9);transition:0.5s;}
.site_header .gnb ul {flex:1;flex-direction:column;padding:30px;transition:0.3s;}
.site_header .gnb li:nth-child(7) {margin-bottom:30px;}
.site_header .gnb li:nth-child(n+8) a {font-weight:normal;}
.site_header .gnb a {margin-right:6px;font-weight:bold;font-size:34px;line-height:1.4;color:#111;}
.site_header .gnb .prod_count {font-size:13px;color:#bbb;margin-bottom:-5px;}

.allmenu {overflow-x:hidden;overflow-y:auto;position:fixed;top:0;right:0;bottom:50px;left:0;z-index:10;background-color:#fff;-webkit-transform:translate(0,0);transform:translate(0,0);transition:0.5s;}
.allmenu.hide {display:block !important;-webkit-transform:translate(100%,0);transform:translate(100%,0);}
.allmenu .inner {display:block;padding:16px;}
.allmenu .inner .btn_prev {position:absolute;top:16px;left:6px;width:45px;height:45px;-webkit-transform:rotate(180deg);transform:rotate(180deg);color:#bbb;}
.allmenu .inner .btn_prev:before, .allmenu .inner .btn_prev:after {width:14px;height:2px;position:absolute;top:0;right:16px;bottom:0;margin:auto 0;box-shadow:inset 0 0 0 32px;-webkit-transform-origin:right;transform-origin:right;content:"";}
.allmenu .inner .btn_prev:before {-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.allmenu .inner .btn_prev:after {-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}


.allmenu .item {width:100%;margin-bottom:30px;padding-left:39px;}
.allmenu .item .tit {display:block;height:45px;margin-bottom:6px;font-weight:bold;font-size:34px;line-height:45px;color:#111;}
.allmenu .item > .links > .on .sub_menu {position:relative;}
.allmenu .item > .links > .on .sub_menu:before {display:block;position:absolute;top:50%;right:0;width:12px;height:1px;margin-top:-2px;background-color:#333;content:"";}
.allmenu .item .links .sub_menu {font-size:18px;line-height:45px;}
.allmenu .item .links .sub_menu a {margin-right:6px;color:#111;}
.allmenu .item .links .prod_count {font-size:13px;color:#bbb;}
.allmenu .item + .item {padding:24px 42px;border:1px solid #e5e5e5;}
.allmenu .item + .item .tit {display:block;height:40px;font-weight:bold;font-size:20px;line-height:40px;color:#888;}
.allmenu .item + .item .links li {height:40px;font-size:16px;line-height:40px;}
.allmenu .item + .item .links a {color:#888;}
.allmenu .list_3depth {display:none;margin-bottom:10px;padding:0 0 10px 20px;}
.allmenu .list_3depth li {height:40px;line-height:40px;}
.allmenu .list_3depth a {margin-right:6px;font-size:14px;color:#333;}
.allmenu .on .list_3depth {display:block;border-bottom:1px solid #e5e5e5;}



.allmenu .inner .ad {display:none;}
.allmenu .inner .bnr_ad {margin:0 -16px -16px;}

.site_header .header_links {position:absolute;top:16px;right:16px;}
.site_header .loginuser {border:0 none;}
.site_header .loginuser > *, .site_header .search, .site_header .center {display:none;}
.site_header .loginuser > .wrap_alram {display:inline-flex;}
.site_header .wrap_alram {margin-right:20px;}
.site_header .wrap_alram .alram {width:20px;height:22px;}
.site_header .wrap_alram .alram:after {display:block;position:absolute;top:-2px;right:-2px;width:4px;height:4px;border-radius:50%;background-color:#ff4e25;content:""}
.site_header .wrap_alram .alram:before {width:20px;height:22px;background-position:0 -25px;}
.site_header .wrap_alram .alram_layer {top:35px;right:0;}
.site_header .alram_list .img {position:relative;width:45px;height:45px;margin-right:16px;}
.site_header .alram_list .img img {width:auto;height:100%;}
.site_header .alram_list p {display:-webkit-box;width:211px;overflow:hidden;max-height:41px;-webkit-line-clamp:2;-webkit-box-orient:vertical;font-size:13px;line-height:21px;}
.site_header .alram_list li + li {margin-top:16px;}
.site_header .wrap_cart .cart:before {width:22px;height:22px;background-position:-25px -25px;}
.site_header .wrap_cart .cart_layer {top:35px;right:0;}
.site_header .wrap_cart .length {overflow:hidden;position:absolute;top:-7px;right:-8px;width:20px;height:20px;border-radius:50%;font-size:11px;line-height:22px;text-align:center;color:#fff;white-space:nowrap;text-overflow:ellipsis;}
.site_header .wrap_cart .list_product .link {overflow:hidden;position:relative;}
.site_header .wrap_cart .btn_gocart{display:block;width:100%;margin:20px auto 0;border:1px solid #bbb;font-weight:400;line-height:40px;text-align:center;}
.site_header .bar_tabnav {position:fixed;right:0;bottom:0;left:0;z-index:50;width:100%;height:50px;padding:0;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);background-color:#fff;}
.site_header .bar_tabnav li {flex:1;text-align:center;}
.site_header .bar_tabnav .list_tab {}
.site_header .bar_tabnav .list_tab li {border-top:1px solid #e5e5e5;}
.site_header .bar_tabnav .list_tab .on {border-color:#333;}
.site_header .bar_tabnav .list_tab a {display:block;overflow:hidden;height:50px;font-size:10px;line-height:1;color:#333;}
.site_header .bar_tabnav .list_tab a:before {display:block;width:20px;height:20px;margin:8px auto 6px;}
.site_header .bar_tabnav .tab_cate a:before {background-position:-135px -25px;}
.site_header .bar_tabnav .tab_search a:before {background-position:-50px -25px;}
.site_header .bar_tabnav .tab_home a:before {background-position:-70px -25px;}
.site_header .bar_tabnav .tab_my a:before {background-position:-95px -25px;}
.site_header .bar_tabnav .tab_latest a:before {background-position:-120px -25px;}

.site_footer {position:relative;padding:55px 16px 50px;}
.site_footer .left {margin-bottom:24px;padding-top:28px;font-size:11px;}
.site_footer .right {padding-bottom:30px;}
.site_footer .tel {font-weight:bold;font-size:18px;color:#888;}
.site_footer .time {margin:4px 0 22px;}
.site_footer .addr {line-height:1.5;}
.site_footer .addr span {display:block;}
.site_footer .addr br {display:none;}
.site_footer .addr .name {margin-bottom:10px;}
.site_footer .inlink {position:absolute;top:0;left:16px;right:16px;padding:16px 0;border-bottom:1px solid #eee;-ms-flex-pack:start;justify-content:flex-start;text-align:left;}
.site_footer .inlink li {position:relative;height:22px;margin-right:32px;}
.site_footer .inlink li:after {position:absolute;top:50%;right:-16px;width:1px;height:11px;margin-top:-4px;background-color:#e5e5e5;content:"";}
.site_footer .inlink li:last-child:after {display:none;}
.site_footer .inlink a {display:block;font-size:13px;line-height:26px;color:#888;}
.site_footer .outlink li {display:block;flex:1;}
.site_footer .outlink li:last-child {text-align:right;}
.site_footer .outlink a {display:block;width:30px;height:30px;border-radius:50%;background-color:#f0f0f0;}
.site_footer .outlink a:after {width:15px;height:15px;}
.site_footer .outlink .fb:after {width:8px;background-position:0 -50px;}
.site_footer .outlink .ig:after {background-position:-10px -50px;}
.site_footer .outlink .pin:after {background-position:-30px -50px;}
.site_footer .outlink .blog:after {background-position:-45px -50px;}
.site_footer .outlink .yt:after {background-position:-70px -50px;}

.list_product .img {float:left;position:relative;width:80px;height:80px;margin-right:20px;}
.list_product .img img {width:auto;height:100%;}
.list_product.mini > li {width:100%;height:80px;}
.list_product.mini > li + li {margin-top:20px;}
.list_product.mini .brand, .list_product.small .brand {margin-top:2px;color:#333;line-height:1.2;}
.list_product.mini.vertical>li, .list_product.small.vertical>li {display:block;width:100%;}
.list_product.mini .price {overflow:hidden;}
.list_product.mini .price.small, .list_product.mini .price.small .origin {font-size:15px;}

.site_main {padding-top:55px}












