@charset "utf-8";
.mypage_summary {position:relative;padding:56px 0 50px;}
.mypage_summary .profile {position:relative;padding-left:112px;}
.mypage_summary .profile .img {position:absolute;left:15px;top:0;width:80px;height:80px;border-radius:50%;overflow:hidden}
.mypage_summary .profile .info .id {margin-bottom:4px;font-size:18px;}
.mypage_summary .profile .info .id em {display:none;font-size:14px;}
.mypage_summary .profile .info .id .btn_set {display:inline-block;width:24px;height:24px;margin-top:1px;padding:0;border:0 none;}
.mypage_summary .profile .info .id .btn_set:before {width:19px;height:19px;background-position:-180px 0;}
.mypage_summary .profile .info .level {margin-bottom:14px;}
.mypage_summary .profile .info .level a {display:none;}
.mypage_summary .profile .info .about {margin-bottom:20px;font-weight:normal;font-size:13px;line-height:1.4}
.mypage_summary .numbers {padding-left:112px;justify-content:normal;}
.mypage_summary .numbers dt {margin-right:4px;}
.mypage_summary .numbers dd {min-width:38px;}
.mypage_summary .numbers .icon_alarm:before {width:16px;height:18px;margin-top:1px;background-position:-184px -20px;}
.mypage_summary .func {position:absolute;top:0;right:0;}
.mypage_summary .func .btn_set {display:none;}
.mypage_summary .func .btn_change {border:0 none;}
.mypage_summary .func .btn_change:before {width:18px;height:2px;background-color:#fff;}
.mypage_summary.mini {padding:40px 0;}
.mypage_summary.mini .profile {padding-left:78px;}
.mypage_summary.mini .numbers {padding-left:78px;}
.mypage_summary.mini .numbers dt {margin-top:1px;font-size:12px;}
.mypage_summary.mini .numbers dd {min-width:50px;font-size:16px;}
.mypage_summary.mini .profile .img {width:48px;height:48px;}
.mypage_summary.mini .profile .info .id {margin:0;font-size:14px;}
.mypage_summary.mini .profile .info .level {margin-bottom:10px;font-size:12px}
.mypage_summary.mini .profile .info .about {display:none;}
.mypage_summary.mini .func .btn_change {margin-left:0}
.mypage_summary.mini .func .btn_change:after {width:2px;height:19px;background-color:#fff}

.myorder_search {position:relative;}
.myorder_search .box {overflow:hidden;padding:24px 0 20px;}
.myorder_search .box .input_checkbox, .myorder_search .box .btn_search {display:none;}
.myorder_search .box .input_date {display:inline-block;width:50%;text-align:center;}
.myorder_search .box .input_date + .line:before {width:8px;height:1px;left:-3px;}
.myorder_search .box .input_date * {display:inline-block;}
.myorder_search .desc {display:none;}
.myorder_search .btn_date {width:24px;height:24px;margin-right:10px;padding:0;border:0 none;}
.myorder_search .btn_date:before {width:17px;height:17px;background-position:-183px -49px;}
.myorder_search .text_date {width:70px;font-size:17px;}

.wrap_layer.cal_layer .box {margin-bottom:12px;padding:15px 0;border:1px solid #e5e5e5;}
.wrap_layer.cal_layer .desc {display:block;margin-bottom:18px;}
.wrap_layer.cal_layer .btns {display:flex;margin-bottom:20px;}
.wrap_layer.cal_layer .btns .btn_range {display:flex;flex:1;height:35px;border:0 none;font-size:12px;background-color:#f0f0f0;color:#555;}
.wrap_layer.cal_layer .btns .btn_range:first-child {margin-right:4px;}
.wrap_layer.cal_layer .btns .btn_range:last-child {margin-left:4px;}
.wrap_layer.cal_layer .cont_cal {padding:25px;margin:0 -25px;border-top:1px solid #e5e5e5;}
.wrap_layer.cal_layer .layer_tit {margin-bottom:30px;}
.wrap_layer.cal_layer > .btn_close {position:absolute;right:14px;top:14px;background-color:rgba(0,0,0,0);width:24px;height:24px;min-width:24px;z-index:1}
.wrap_layer.cal_layer > .btn_close:after, .cal_layer > .btn_close:before {content:'';width:2px;height:18px}
.wrap_layer.cal_layer {width:100%;max-width:none;padding:38px 23px 31px;position:absolute;top:50px;left:0;}
.wrap_layer.cal_layer.from {margin-left:6px}
.wrap_layer.cal_layer .cal_yearmonth {margin-bottom:34px}
.wrap_layer.cal_layer .cal_yearmonth .btn_arrow {border-width:0;padding:0;min-width:20px;width:20px;height:20px;position:relative}
.wrap_layer.cal_layer .cal_yearmonth .btn_arrow:after {width:6px;height:6px;border-width:1px 1px 0 0;border-style:solid;-webkit-transform:translate(-75%,-50%) rotateZ(45deg);-ms-transform:translate(-75%,-50%) rotateZ(45deg);-o-transform:translate(-75%,-50%) rotateZ(45deg);transform:translate(-75%,-50%) rotateZ(45deg)}
.wrap_layer.cal_layer .cal_yearmonth .btn_arrow.prev {-webkit-transform:rotateZ(-180deg);-ms-transform:rotateZ(-180deg);-o-transform:rotateZ(-180deg);transform:rotateZ(-180deg)}
.wrap_layer.cal_layer .cal_yearmonth .text {height:20px;width:34px;text-align:center;font-size:21px;line-height:20px}
.wrap_layer.cal_layer .cal_yearmonth .item:first-child .text {width:60px}
.wrap_layer.cal_layer .cal_yearmonth .item+.item {margin-left:6px}
.wrap_layer.cal_layer .cal_table {width:100%;margin:0 auto}
.wrap_layer.cal_layer .cal_table td,
.wrap_layer.cal_layer .cal_table th {text-align:center}
.wrap_layer.cal_layer .cal_table th {font-size:13px;width:39px;height:29px;vertical-align:top}
.wrap_layer.cal_layer .cal_table td {font-size:15px;height:40px}
.wrap_layer.cal_layer .cal_table td button {display:block;width:32px;height:32px;margin:0 auto}
.wrap_layer.cal_layer .cal_table .today {color:#fff;background-color:#000;border-radius:50%}
.wrap_layer.cal_layer .btn_search {display:block;position:absolute;bottom:0;left:0;right:0;width:100%;margin:0;background-color:#111;color:#fff;}

.mypage .table_st, .mypage .table_st tbody, .mypage .table_st tr, .mypage .table_st th, .mypage .table_st td {display:block}
.mypage .table_st th {visibility:hidden;padding:0;height:0;min-height:0;font-size:0;line-height:0;}
.mypage .btn_allorders.large {margin-top:20px;background-color:#111;color:#fff;}
.mypage .my_info {display:none;}
.mypage .panel_info_m {display:flex;flex-wrap:wrap;flex-flow:row wrap;}
.mypage .panel_info_m [class^=member] {flex:1 100%;position:relative;padding:26px 16px;}
.mypage .panel_info_m .member_coupon, .mypage .panel_info_m .member_mileage {flex:1 0 50%;border-bottom:1px solid #333;}
.mypage .panel_info_m .member_level {border-bottom:1px solid #e5e5e5;}
.mypage .panel_info_m .member_coupon {border-right:1px solid #e5e5e5;}
.mypage .panel_info_m {margin-bottom:40px;}
.mypage .panel_info_m .txt_value {display:block;margin-bottom:8px;font-weight:600;font-size:34px;color:#111;text-transform:uppercase}
.mypage .panel_info_m .text_link {position:absolute;top:28px;right:16px;}

.mypage .my_orders {border-top:1px solid #e5e5e5;}
.mypage .my_orders li {position:relative;}
.mypage .my_orders .order_info {padding:20px 16px;font-size:12px;background-color:#f7f7f7;}
.mypage .my_orders .order_info dt, .mypage .my_orders .order_info dd {color:#888;}
.mypage .my_orders .order_info dt {margin-right:4px;padding-left:18px;}
.mypage .my_orders .order_info dt:first-child {padding-left:0;}
.mypage .my_orders .order_info dt:after {width:1px;height:12px;}
.mypage .my_orders .order_info dd {margin-right:18px;}
.mypage .my_orders .go_detail {overflow:hidden;position:absolute;top:17px;right:10px;width:30px;height:30px;font-size:0;line-height:0;text-indent:-9999px;}
.mypage .my_orders .go_detail:after {display:block;width:22px;height:13px;background-position:-140px -75px;}
.mypage .my_orders .order_detail tbody tr {position:relative;padding:58px 16px 24px;border-bottom:1px solid #e5e5e5;}
.mypage .my_orders .order_detail .order_state .state  {position:absolute;top:20px;left:16px;font-weight:600;font-size:15px;}
.mypage .my_orders .order_detail .order_state .desc {width:100%;height:35px;margin-top:20px;border:1px solid #d0d0d0;font-size:12px;line-height:35px;text-align:center;}
.mypage .my_orders .order_detail .order_state .btn_order {width:100%;height:35px;margin-top:20px;padding:0 15px;font-size:12px;border-color:#d0d0d0;}
.mypage .my_orders .order_detail .order_state .order_btns button {border-right:0 none;}
.mypage .my_orders .order_detail .order_state .order_btns button:last-child {border-right:1px solid #d0d0d0;}
.mypage .my_orders .order_detail .order_state .limit_time {display:none;}
.mypage .my_orders .order_detail tbody tr.before_pay {padding-top:76px;}
.mypage .my_orders .order_detail tbody tr.before_pay .desc {position:absolute;top:35px;left:15px;width:auto;margin:0;border:0 none;text-align:left}
.mypage .my_orders .list_product .link {position:relative;height:auto;padding-left:90px;}
.mypage .my_orders .list_product .link .img {width:80px;height:80px;}
.mypage .my_orders .list_product .link .img img {width:100%;height:auto;}
.mypage .my_orders .list_product > li {border-top:1px solid #e5e5e5;}
.mypage .my_orders .list_product > li:first-child {border-top:0 none;}
.mypage .my_orders .list_product .brand {margin-bottom:-4px;}
.mypage .my_orders .list_product.small .name {margin-bottom:7px;}
.mypage .my_orders .list_product .option {margin-top:6px;}
.mypage .my_orders .order_price {margin-top:6px;padding-left:90px;font-weight:bold;font-size:20px;}
.mypage .pages.on_m {display:flex;margin:35px 0 70px;}

.mypage .wrap_mynotice {margin-top:40px;padding:0 16px;}
.mypage .wrap_mynotice .tit {font-weight:600;font-size:16px;}
.mypage .wrap_mynotice .btn_allorders {width:100%;margin:0;}
.mypage .wrap_mynotice .item {padding-bottom:10px;}
.mypage .wrap_mynotice .item .s_tit {display:block;margin:10px 0 8px;font-size:14px;}

.mypage .mynotice_list td.maw {overflow:hidden;padding:15px;margin:0 -15px;font-size:0;line-height:0;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.mypage .mynotice_list .link {display:block;font-size:13px;line-height:1.5;}
.mypage .mynotice_list .link .img {float:left;position:relative;width:80px;height:80px;margin-right:12px}
.mypage .mynotice_list .link .img img {width:100%;height:auto;vertical-align:top}
.mypage .mynotice_list .link .desc {display:block;display:-webkit-box;overflow:hidden;width:calc(100% - 100px);-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-all;white-space:normal}
.mypage .mynotice_list .link .info {overflow:hidden;margin-bottom:6px;}
.mypage .reply .link .info + .desc {display:block;margin-bottom:6px;font-size:12px;color:#888;white-space:nowrap;}
.mypage .reply .link .info .txt_reply {font-size:13px;color:#333;}
.mypage .mynotice_list.reentry {margin-bottom:20px;border-bottom:1px solid #e5e5e5;}
.mypage .mynotice_list.reentry .al_center {position:relative;padding-bottom:55px;}
.mypage .mynotice_list.reentry .al_center:after {position:absolute;bottom:0;left:-15px;right:-15px;height:55px;background-color:#f7f7f7;content:"";}
.mypage .mynotice_list.reentry .al_center > .date, .mypage .mynotice_list.reentry .al_center > .state {position:absolute;bottom:14px;z-index:1;}
.mypage .mynotice_list.reentry .al_center > .date {left:15px;}
.mypage .mynotice_list.reentry .al_center > .state {right:15px;}
.mypage .mynotice_list.reentry .list_product {display:block;overflow:hidden;}
.mypage .mynotice_list.reentry .list_product > li {display:block;width:auto;padding:15px;margin:0 -15px;}
.mypage .mynotice_list.reentry .list_product .img {top:15px;width:80px;height:80px;margin-right:12px;}
.mypage .mynotice_list.reentry .list_product .link {height:auto;padding-left:92px;}
.mypage .mynotice_list.reentry .list_product .price {margin-bottom:8px;}
.mypage .myorder_list .noresult {height:200px;margin-bottom:46px;border-width:1px 0;border-style:solid;}

.mypage .info_step {padding:0 15px;}
.mypage .info_step > .tit {margin-bottom:15px;font-weight:bold;font-size:16px;}
.mypage .step_list {display:block;border:1px solid #e5e5e5;}
.mypage .step_list li {display:block;position:relative;width:100%;padding:20px 0 20px 100px;}
.mypage .step_list li:before {left:35px;width:30px;height:28px;background-position:0 -160px;transform:translate(0,-50%);}
.mypage .step_list li:nth-child(2):before {background-position:-35px -160px;}
.mypage .step_list li:nth-child(3):before {background-position:-70px -160px;}
.mypage .step_list li:nth-child(4):before {background-position:-105px -160px;}
.mypage .step_list li:last-child:before {background-position:-140px -160px;}

.mypage .step_list.return li:before {background-position:0 -190px}
.mypage .step_list.return li:nth-child(2):before {background-position:-30px -190px;}
.mypage .step_list.return li:nth-child(3):before {background-position:-70px -160px;}
.mypage .step_list.return li:last-child:before {background-position:-140px -160px;}

.mypage .step_list li .btn_tooltip {display:none;}
.mypage .step_list li .desc {font-size:13px;}
.mypage .info_step .step_notice {padding:0 16px;margin:30px -16px -40px;}
.mypage .info_step .step_notice .tit {display:block;position:relative;height:55px;padding:0 16px;margin:0 -16px;border-top:1px solid #e5e5e5;font-weight:bold;font-size:15px;line-height:55px;}
.mypage .info_step .step_notice .tit .btn_change {position:absolute;top:0;right:0;border:0 none;margin-left:0}
.mypage .info_step .step_notice .tit .btn_change:before {width:15px;height:1px;background-color:#333}
.mypage .info_step .step_notice .tit .btn_change:after {width:1px;height:15px;background-color:#333}
.mypage .info_step .step_notice .tit .btn_change.mini:after {display:none;}
.mypage .info_step .step_notice .dot_list {padding:0 16px 25px;margin:0 -16px;}
.mypage .info_step .step_notice .dot_list li {font-size:14px;color:#555;}


.my_order_payment {padding:30px 16px;}
.my_order_payment > .tit, .my_order_shipping > .tit {margin-bottom:15px;font-weight:bold;font-size:16px;}
.my_order_payment .detail {display:flex;flex-wrap:wrap;padding:26px;border:1px solid #e5e5e5;border-bottom:0 none;font-size:13px;}
.my_order_payment .detail dt {width:100px;}
.my_order_payment .detail dd {width:calc(100% - 100px);text-align:right;}
.my_order_payment .detail .billing {margin-top:18px;padding-top:18px;border-top:1px solid #e5e5e5;font-weight:bold;}
.my_order_payment .detail .billing + dd {margin-top:18px;padding-top:18px;border-top:1px solid #e5e5e5;font-weight:bold;font-size:25px;}

.my_order_payment .box {padding:16px 30px;border:1px solid #e5e5e5;border-top:0 none;background-color:#f7f7f7;}
.my_order_payment .info {display:flex;flex-wrap:wrap;border-width:0 0 1px;height:60px;color:#555;}
.my_order_payment .info dt {width:120px;}
.my_order_payment .info dd {width:calc(100% - 120px);text-align:right;}
.my_order_payment .info dt:after {content:'\00a0:\00a0'}
.my_order_payment .info .wrap_tooltip {display:inline-block;position:relative;width:18px;height:18px}
.my_order_payment .info .btn_tooltip {position:relative;margin-top:1px;padding:0;width:18px;height:18px;border:0}
.my_order_payment .info .btn_tooltip:before {width:18px;height:18px;background-position:-120px -85px;}

.tootip_layer {background-color:#fff;border:1px solid #ddd;box-shadow:0 3px 5px 0 rgba(0,0,0,.07);width:240px;border-radius:6px;position:absolute;z-index:89;padding:13px 16px;right:0;margin-top:3px}
.tootip_layer:after,
.tootip_layer:before {content:'';position:absolute;right:0;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);width:0;height:0;border-style:solid;border-width:0 6px 6px 6px}
.tootip_layer:before {border-color:transparent transparent #bbb transparent;top:-6px}
.tootip_layer:after {border-color:transparent transparent #fff transparent;top:-5px;-webkit-transform:translate(-50%,9%);-ms-transform:translate(-50%,9%);-o-transform:translate(-50%,9%);transform:translate(-50%,9%)}

.my_order_shipping {padding:0 16px 30px;}
.my_order_shipping > .dis_f {display:block;}
.my_order_shipping .item {display:flex;margin-bottom:12px;padding:26px;}
.my_order_shipping .item:last-child {margin-bottom:0;}
.my_order_shipping .item .tit {margin-bottom:10px;font-weight:bold;}
.my_order_shipping .info {line-height:20px;width:100%}
.my_order_shipping .info dt {width:70px;font-size:13px;}
.my_order_shipping .info dd {width:calc(100% - 70px);font-size:13px;}
.my_order_shipping .message {line-height:22px;margin-top:9px;padding-bottom:2px;font-size:13px;}
.my_order_shipping + .btns {display:block;padding:0 16px;}
.my_order_shipping + .btns .btn_link {float:left;width:48.5%;height:50px;margin:0;}
.my_order_shipping + .btns .btn_link:first-child {width:100%;margin-bottom:10px;}
.my_order_shipping + .btns .btn_link:nth-child(2) {margin-right:3%;}

.order_discontent {padding-top:20px;}
.order_discontent > .tit {display:none;}
.order_discontent .wrap_sel {border-bottom:1px solid #e5e5e5;}
.order_discontent .wrap_sel .input_select {width: calc(100% - 32px);margin:0 16px 20px;}
.order_discontent .wrap_sel .input_select select {color:#333;}
.order_discontent .order_detail .list_product .link {position:relative;height:auto;padding-left:90px;}
.order_discontent .order_detail .list_product .link .img {width:80px;height:80px;}
.order_discontent .order_detail .list_product .link .img img {width:100%;height:auto;}
.order_discontent .order_detail .list_product > li {border-top:1px solid #e5e5e5;}
.order_discontent .order_detail .list_product > li:first-child {border-top:0 none;}
.order_discontent .order_detail .list_product .brand {margin-bottom:-4px;}
.order_discontent .order_detail .list_product.small .name {margin-bottom:7px;}
.order_discontent .order_detail .list_product .option {margin-top:6px;}

.order_discontent .order_info {padding:20px 16px;font-size:12px;background-color:#f7f7f7;}
.order_discontent .order_info dt, .order_discontent .order_info dd {color:#888;}
.order_discontent .order_info dt {margin-right:4px;padding-left:18px;}
.order_discontent .order_info dt:first-child {padding-left:0;}
.order_discontent .order_info dt:after {width:1px;height:12px;}
.order_discontent .order_info dd {margin-right:18px;}

.order_discontent .order_detail {border-bottom:8px solid #f0f0f0;}
.order_discontent .order_detail .input_select {width:100%;margin-top:18px;}
.order_discontent .order_detail tbody tr {position:relative;padding:58px 16px 24px;border-bottom:1px solid #e5e5e5;}
.order_discontent .order_detail .order_state .state  {position:absolute;top:20px;left:16px;font-weight:600;font-size:15px;}
.order_discontent .order_detail .order_state .desc {width:100%;height:35px;margin-top:20px;border:1px solid #d0d0d0;font-size:12px;line-height:35px;text-align:center;}
.order_discontent .order_detail .order_state .btn_order {width:100%;height:35px;margin-top:20px;padding:0 15px;font-size:12px;border-color:#d0d0d0;}
.order_discontent .order_detail .order_state .order_btns button {border-right:0 none;}
.order_discontent .order_detail .order_state .order_btns button:last-child {border-right:1px solid #d0d0d0;}
.order_discontent .order_detail .order_state .limit_time {display:none;}
.order_discontent .order_detail tbody tr.before_pay {padding-top:76px;}
.order_discontent .order_detail tbody tr.before_pay .desc {position:absolute;top:35px;left:15px;width:auto;margin:0;border:0 none;text-align:left}
.order_discontent .order_price {margin-top:6px;padding-left:90px;font-weight:bold;font-size:20px;}

.order_discontent .order_detail_view .btns .large.btn_cancel {width: calc(100% - 20px);margin: 0 4px 0 16px;}
.order_discontent .order_detail_view .btns .large.btn_apply {width: calc(100% - 20px);margin: 0 16px 0 4px;}

.order_discontent .my_order_payment .box {padding:0 30px;}

.order_discontent .change .order_detail tbody tr {padding-top:24px;}
.order_discontent .change .order_detail .input_checkbox {margin-bottom:10px;}
.order_discontent .change .order_detail .input_checkbox label {font-size:0;line-height:0;}
.order_discontent .change .order_detail .input_select {margin-top:10px;}
.order_discontent .change .order_detail .input_select + .input_select {margin-top:10px;}
.order_discontent .change .order_detail .option {margin-top:20px;}
.order_discontent .change .order_detail .option .tit {font-size:12px;color:#555}
.order_discontent .change .order_detail .option .input_select {margin-top:10px;}

.order_discontent .return .order_detail tbody tr {padding-top:24px;}
.order_discontent .return .order_detail .input_checkbox {margin-bottom:10px;}
.order_discontent .return .order_detail .input_checkbox label {font-size:0;line-height:0;}
.order_discontent .return .order_detail .input_select {margin-top:10px;}
.order_discontent .return .order_detail .input_select + .input_select {margin-top:10px;}
.order_discontent .return .order_detail .option {margin-top:20px;}
.order_discontent .return .order_detail .option .tit {font-size:12px;color:#555}
.order_discontent .return .order_detail .option .input_select {margin-top:10px;}
.order_discontent .return .order_detail .option .price {display:none;}
.order_discontent .return .my_order_payment {padding-top:0;}

.order_discontent .order_return_info {overflow:hidden;padding:25px 16px;}
.order_discontent .order_return_info > .tit {display:block;margin-bottom:15px;font-weight:bold;font-size:16px;}
.order_discontent .order_return_info .box {display:block;width:100%;padding:20px 30px 0;}
.order_discontent .order_return_info .box .input_radio {padding:8px 0;}
.order_discontent .order_return_info .box p.fee {display:block;height:55px;padding:0 30px;margin:20px -30px 0;border-top:1px solid #ddd;font-size:13px;line-height:55px;}
.order_discontent .order_return_info .box p.fee em {float:right;}
.order_discontent .order_return_info .dot_list {margin-top:20px;}
.order_discontent .order_return_info .dot_list li {margin-bottom:8px;}


.mypage .my_orders .order_detail.return tbody tr {position:relative;padding-bottom:92px;}
.mypage .my_orders .order_detail.return tbody tr:last-child {border-bottom:0;}
.mypage .my_orders .order_detail.return .return_reason {position:absolute;bottom:24px;left:0;width: calc(100% - 32px);margin: 0 16px;height:50px;padding:0 20px;font-size:13px;line-height:50px;background-color:#f7f7f7;vertical-align:middle}
.mypage .my_orders .order_detail.return .return_reason:before {display:inline-block;width:30%;height:50px;color:#555;vertical-align:middle;content:"교환사유";}
.mypage .my_orders .return_fee {display:block;width: calc(100% - 32px);height:75px;margin:30px 16px 0;padding:0 30px;border:1px solid #e5e5e5;font-size:14px;line-height:75px;background-color:#fff;}
.mypage .my_orders .return_fee span {display:block;float:right;}
.mypage .my_orders .btns {display:flex;flex-flow:row wrap;width:100%;margin-top:30px;}
.mypage .my_orders .btns a {flex:1;width:50%;}
.mypage .my_orders .btns .btn_list {flex:1 1 auto;width:100%;}
.mypage .my_orders .btns a:nth-child(2) {margin-top:10px;margin-right:4px;}
.mypage .my_orders .btns a:nth-child(3) {margin-top:10px;margin-left:4px;}

.mypage .my_orders .list_product .option .change {display:block}
.mypage .my_orders .list_product .option .change:before {width:15px;height:11px;background-position:-90px -135px;vertical-align:-1px;margin-right:8px}


.return_summary {flex-wrap:wrap;padding-top:14px;border-top:8px solid #f0f0f0;}
.return_summary .item {display:flex;flex-wrap:wrap;flex:1 1 auto;width:100%;padding:14px 16px}
.return_summary .item .tit {display:block;width:100%;margin-bottom:15px;font-weight:bold;font-size:16px;}
.return_summary .box {position:relative;padding:0 16px;border:1px solid #e5e5e5;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.return_summary dd, .return_summary dt {width:50%;line-height:24px}
.return_summary dt {font-size:14px;}
.return_summary dd {text-align:right;font-size:16px}
.return_summary .box .lc_e5 {margin:10px 0 24px;}
.return_summary .box .total {height:70px;margin-top:20px;padding:0;line-height:70px;border-top:1px solid #e5e5e5;}
.return_summary .box dt.total {margin:0;font-size:14px;}
.return_summary .box dd.total {margin:0;font-weight:700;font-size:25px}
.return_summary .box .method {display:block;width:100%;height:65px;padding-left:44px;font-size:14px;line-height:65px;text-align:left}
.return_summary .box .method:before {width:30px;height:22px;background-position:-110px -125px;}
.return_summary .box .method em:before {display:inline-block;margin:0 4px 0 2px;vertical-align:1px;content:":";}

.pwreconfirm {padding:0 16px;}
.pwreconfirm > .tit {display:none;}
.pwreconfirm .desc {padding:30px 0;font-size:13px;color:#555;}
.pwreconfirm .box {padding:20px;background-color:#f7f7f7;}
.pwreconfirm dl {flex-wrap:wrap;width:100%;}
.pwreconfirm dt {width:100%;margin-bottom:4px;font-size:12px;}
.pwreconfirm dd {width:100%;margin-bottom:20px;font-size:16px;color:#333;}
.pwreconfirm dd:last-child {margin-bottom:0;}
.pwreconfirm .input_text {width:100%;}
.pwreconfirm .btns {margin:30px -4px 0;}
.pwreconfirm .btns .large[class*=btn_] {margin:0 4px;}

.cont_siteout {padding:0 16px;}
.cont_siteout > .tit {display:none;}
.cont_siteout .info p {padding:30px 0 10px;font-size:13px;line-height:24px;color:#555;}
.cont_siteout .box {flex-wrap:wrap;width:100%;padding:20px;background-color:#f7f7f7;}
.cont_siteout .dot_list {margin-bottom:30px;}
.cont_siteout .dot_list li {color:#888;}
.cont_siteout label {width:100%;margin-bottom:4px;font-size:12px;}
.cont_siteout .input_text {width:100%;font-size:16px;color:#333;}
.cont_siteout .input_text {width:100%;}
.cont_siteout .btns {margin:30px -4px 0;}
.cont_siteout .btns .large[class*=btn_] {margin:0 4px;}

.cont_siteout .disappear {margin-bottom:40px;}
.cont_siteout .disappear .tit {margin-bottom:10px;font-weight:bold;font-size:16px;}
.cont_siteout .disappear dl {flex-wrap:wrap;width:100%;padding:33px;background-color:#f7f7f7;}
.cont_siteout .disappear dt {width:40%;margin-bottom:4px;font-size:14px;}
.cont_siteout .disappear dd {width:60%;font-weight:bold;font-size:20px;color:#333;text-align:right;}
.cont_siteout .disappear dd:last-child {margin-bottom:0;}
.cont_siteout .disappear .desc {margin-top:10px;font-size:13px;}
.cont_siteout .disappear .desc:before {width:17px;height:17px;margin-top:1px;margin-right:8px;background-position:-200px 0;}
.cont_siteout .out_reason .box {padding:0;background-color:#fff;}
.cont_siteout .out_reason .box .tit {font-weight:bold;font-size:16px;}
.cont_siteout .out_reason .box .input_textarea, .cont_siteout .out_reason .box .input_select {width:100%;margin-top:10px;}

.site_main.join .editmyinfo .table_st tr {display:flex;flex-wrap:wrap;width:100%;}
.site_main.join .editmyinfo .table_st th, .site_main.join .editmyinfo .table_st td {display:flex;flex-wrap:wrap;width:100%;}
.site_main.join .editmyinfo .table_st th {visibility:visible;height:30px;margin-bottom:0;font-size:12px;line-height:30px;color:#888;}
.site_main.join .editmyinfo .table_st td {margin-bottom:15px;}
.site_main.join .editmyinfo .phone span, .site_main.join .editmyinfo .birthday span {position:relative;}
.site_main.join .editmyinfo .box_agree .input_checkbox {display:flex;width:50%;margin-bottom:16px;}
.site_main.join .editmyinfo .table_st tr th.tit_sns {visibility:hidden;height:0;padding:0;margin:0;font-size:0;line-height:0}
.site_main.join .editmyinfo .address_list .table_st {overflow-x:hidden;overflow-y:auto;padding:0 16px;}
.site_main.join .editmyinfo .address_list .table_st tr {width:auto;padding:16px;margin:0 -16px;border-bottom:1px solid #e5e5e5;}
.site_main.join .editmyinfo .address_list .table_st tr:last-child {border-bottom:0 none;}
.site_main.join .editmyinfo .address_list .table_st td {margin:0;font-size:13px;color:#555;}

.editmyinfo .tit {display:none}
.editmyinfo .input_select, .editmyinfo .input_text {width:100%;}
.editmyinfo .email {width:100%;}
.editmyinfo .email select {padding-left:45px;}
.editmyinfo .sex {display:flex;width:100%;}
.editmyinfo .change_pass dt, .editmyinfo .change_pass dd {width:100%;}
.editmyinfo .change_pass dd {margin-bottom:10px;}
.editmyinfo .change_pass dd:last-child {margin-bottom:0;}
.editmyinfo .change_pass .noti {margin:10px 0;font-size:12px;color:#888;}
.editmyinfo .change_pass .btn_change {width:100%;height:45px;margin-top:10px;border:0 none;font-size:14px;background-color:#f0f0f0;}
.editmyinfo .cert {width:100%;}
.editmyinfo .cert button {height:45px;font-size:14px;line-height:45px;}
.editmyinfo .txt_name {width:100%;height:45px;padding:0 15px;border:1px solid #e5e5e5;line-height:45px;background-color:#f0f0f0;}
.editmyinfo .address div {flex-wrap:wrap;width:100%;}
.editmyinfo .address .zipcode {width:calc(70% - 6px);margin-right:6px;}
.editmyinfo .address .btn_check {width:30%;text-align:center;}
.editmyinfo .address .wrap_btn {display:flex;justify-content:flex-end}
.editmyinfo .address .btn_showaddr {border:0 none;font-size:12px;}
.editmyinfo .address .btn_showaddr:after {width:10px;height:5px;margin:1px 0 0 7px;background-position:-210px -20px;}
.editmyinfo .address .address {width:100%;margin-top:10px;}
.editmyinfo .info_agree {padding:10px 0;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.editmyinfo .info_agree .desc {font-size:12px;line-height:17px;color:#888;}
.editmyinfo .box_agree {display:flex;flex-wrap:wrap;width:100%;padding-top:10px;}
.editmyinfo .connect_sns {display:flex;flex-wrap:wrap;width:100%;padding:25px 0;border-bottom:1px solid #e5e5e5;}
.editmyinfo .connect_sns button {display:flex;width:100%;height:50px;border:0 none;font-size:14px;background-color:#f7f7f7;color:#888;}
.editmyinfo .connect_sns .spr_before:before {width:22px;height:22px;margin-left:20px;}
.editmyinfo .connect_sns .fb {margin-bottom:12px;}
.editmyinfo .connect_sns .fb:before {background-position:-155px 0;}
.editmyinfo .connect_sns .ig:before {background-position:-160px -25px;}
.editmyinfo .btns {flex-wrap:wrap;width:100%;;margin-top:-10px;padding:0 16px;}
.editmyinfo .btns .large[class*=btn_] {width:calc(50% - 4px)}
.editmyinfo .btns .btn_cancel {margin:0 4px 0 0;}
.editmyinfo .btns .btn_save {margin:0 0 0 4px;}
.editmyinfo .btns .site_out {margin-top:40px;padding:28px;border:1px solid #e5e5e5;font-size:13px;color:#555;}
.editmyinfo .btns .site_out {line-height:17px;}
.editmyinfo .btns .site_out .btn_out {width:80px;height:35px;margin:0 0 0 40px;border:0 none;font-size:12px;background-color:#f0f0f0;}

.editmyinfo .address_list {position:relative;margin:0 -16px;padding-top:105px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background-color:#f7f7f7;}
.editmyinfo .address_list .table_st {height:300px;}
.editmyinfo .address_list .table_st td .flag {width:65px;height:19px;margin-right:6px;padding-top:3px;font-size:10px;line-height:19px;white-space:nowrap;}
.editmyinfo .address_list .top {padding:0 16px 14px;border-bottom:1px solid #e5e5e5;}
.editmyinfo .address_list .input_checkbox {display:flex;flex:1 0 30%}
.editmyinfo .address_list .input_checkbox label:before {background-color:#fff}
.editmyinfo .address_list [class^=btn_] {display:flex;flex:1 0 10%;position:relative;height:auto;padding:0;background-color:transparent;}
.editmyinfo .address_list .btn_delete {margin-right:-15px;}
.editmyinfo .address_list .btn_delete:before {display:block;position:absolute;top:5px;left:5px;width:1px;height:10px;background-color:#d0d0d0;content:"";}
.editmyinfo .address_list .btn_add {position:absolute;top:30px;left:0;width:calc(100% - 32px);height:45px;margin:0 16px;font-size:14px;background-color:#111;color:#fff;}
.editmyinfo .address_list .addr_name {display:inline-block;vertical-align:middle;}
.editmyinfo .address_list .detail {margin-top:15px;}
.editmyinfo .address_list .dis_f {width:100%;}
.editmyinfo .address_list .text_link {font-size:13px;color:#888;text-decoration:none !important}

.mypage_summary.setting {padding:30px 0;}
.mypage_summary.setting .input_file {padding:0;color:#888;text-decoration:underline;}
.mypage_summary.setting .profile .info .id {padding-top:3px;}
.mypage_summary.setting .profile .info .level {margin:-3px 0 0 0;}
.mypage_summary.setting .input_file label {}
.mypage_summary.setting .input_file input[type=file] {overflow:hidden;width:0px;height:0;font-size:0;line-height:0;text-indent:-9999px;}

.mynotice {overflow:hidden;}
.mynotice > .tit {display:none;}
.mynotice .list_tab {margin-top:30px;}
.mynotice .list_tab:after {background-color:#e5e5e5;}
.mynotice .list_tab li > strong, .mynotice .list_tab li > a {border-color:#e5e5e5;background-color:#f7f7f7;}
.mynotice .list_tab li.active > strong, .mynotice .list_tab li.active > a  {background-color:#fff;}
.mynotice .mynotice_list {margin-top:20px;border-bottom:1px solid #e5e5e5;}
.mynotice .mynotice_list tr > .al_center, .mynotice .mynotice_list tr > .maw + .maw, .mynotice .mynotice_list .send_time {visibility:hidden;height:0;max-height:0;padding:0;font-size:0;line-height:0;}
.mynotice .mynotice_list .aks_time {position:absolute;bottom:15px;left:15px;z-index:1;}
.mynotice .mynotice_list .ask_status {position:absolute;bottom:15px;right:15px;z-index:1;}
.mynotice .mynotice_list td.maw {margin:0;border-bottom:0 none;}
.mynotice .mynotice_list .link {overflow:hidden;}
.mynotice .mynotice_list .noti_info {overflow:hidden;padding-top:5px;}
.mynotice .mynotice_list .noti_info .meta {display:inline-block;vertical-align:middle;color:#888;}
.mynotice .mynotice_list .noti_info .meta + .meta:before {display:inline-block;width:1px;height:10px;margin:0 12px;background-color:#e5e5e5;vertical-align:middle;content:"";}
.mynotice .mynotice_list .noti_info .desc {margin-top:8px;}
.mynotice .mynotice_list .link .desc {width:100%;-webkit-line-clamp:1;}
.mynotice .mynotice_list.reply .noti_info .desc {font-size:12px;color:#888;}
.mynotice .mynotice_list.reply .noti_info .reply {margin-top:10px;font-size:13px;color:#333;}
.mynotice .mynotice_list.reentry .list_product .img {top:0;}
.mynotice .pages.on_m {margin-bottom:0;}

.benefits > .tit {display:none;}
.benefits .my_info {display:block;}
/*.benefits .my_info dt {display:flex;flex:1;}*/

.benefits .my_info {position:relative;z-index:200;height:100px;margin-top:0;border-bottom:1px solid #e5e5e5;background-color:#f0f0f0;}
.benefits .my_info:after, .benefits .my_info:before {z-index:1;width:1px;height:100px}
.benefits .my_info>dd, .benefits .my_info>dt {z-index:10;text-align:center;width:33.3%}
.benefits .my_info>dd {font-size:18px;line-height:52px;font-weight:700;margin-top:-17px;color:#555;}
.benefits .my_info>dt {font-size:12px;line-height:18px;margin-top:20px;color:#888;}
.benefits .my_info:before,.benefits .my_info>dd:nth-of-type(2), .benefits .my_info>dt:nth-of-type(2) {left:33.3%!important}
.benefits .my_info:after, .benefits .my_info>dd:nth-of-type(3), .benefits .my_info>dt:nth-of-type(3) {left:66.6%!important}

.benefits .my_info .wrap_tooltip {display:inline-block;position:relative;width:18px;height:18px;margin-top:-2px;vertical-align:middle}
.benefits .my_info .mileage {display:inline-block;width:18px;height:18px;vertical-align:text-bottom;position:relative;}
.benefits .my_info .mileage:after {width:19px;height:19px;background-position:-120px -85px;left:0;top:0;-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none;}

.benefits .my_info .mileage_tooltip {top:23px}
.benefits .my_info .mileage_tooltip dd,
.benefits .my_info .mileage_tooltip dt {width:50%;line-height:22px}
.benefits .my_info .mileage_tooltip dt {float:left;text-align:left}
.benefits .my_info .mileage_tooltip dd {float:right;text-align:right;font-size:15px}
.benefits .my_info .mileage_tooltip .lc_e5 {border-width:0 0 1px;border-style:solid;padding-bottom:6px;margin-bottom:13px}

.benefits .membership_history {border-bottom:1px solid #e5e5e5;}
.benefits .membership_history tbody tr {display:flex;position:relative;height:80px;padding:40px 16px 0;border-top:1px solid #e5e5e5;}
.benefits .membership_history td {display:flex;flex:1;font-weight:bold;font-size:16px;}
.benefits .membership_history td:nth-child(2) {flex-direction:row-reverse;font-weight:normal;}
.benefits .membership_history td:last-child {position:absolute;top:16px;left:16px;font-weight:normal;font-size:12px;color:#888;}
.benefits .pages.on_m {margin:30px 0 70px;}

.benefits .step_list li {display:flex;width:100%;height:105px;padding:0;align-items:center;justify-content:center;}
.benefits .step_list .tit {width:40%;font-size:18px;line-height:105px;text-align:center;}
.benefits .step_list .desc {width:60%;}
.benefits .step_list .desc em {font-weight:500;font-size:14px;}
.benefits .step_list .desc p br {display:none;}
.mypage .benefits .info_step .step_notice {margin-bottom:-25px;}
.mypage .benefits .info_step .step_notice .dot_list li {font-size:13px;color:#555;}


.benefits .membership_history.coupon tbody tr {display:flex;flex-wrap:wrap;width:100%;height:auto;padding:16px;}
.benefits .membership_history.coupon td {display:flex;flex:1 1 100%;flex-direction:row;position:static;padding-right:100px;font-size:14px;}
.benefits .membership_history.coupon td:first-child {font-weight:normal;font-size:12px;color:#888;}
.benefits .membership_history.coupon .al_left {margin:2px 0;sline-height:20px;}
.benefits .membership_history.coupon .al_left em {position:absolute;top:16px;left:46px;font-size:12px;color:#888;}
.benefits .membership_history.coupon .al_left em:before {display:inline-block;margin-right:5px;content:"/";}
.benefits .membership_history.coupon td:nth-child(3) {font-weight:normal;font-size:13px;color:#888;}
.benefits .membership_history.coupon td:last-child {display:block;position:absolute;top:50%;right:16px;left:unset;padding:0;font-weight:normal;font-size:16px;transform:translate(0, -50%);color:#333;}
.benefits .box_notice {padding:0 16px;}
.benefits .box_notice li {margin-bottom:4px;color:#555;}
.benefits .offlinecupon {width:calc(100% - 32px);height:45px;margin:20px 16px;padding-top:14px;font-size:14px;background-color:#111;color:#fff;text-align:center;text-decoration:none !important;}
.benefits .offlinecupon_layer {z-index:200;}
.benefits .offlinecupon_layer .input_text {width:100%;margin-bottom:20px;}
.benefits .offlinecupon_layer .btn_register {position:absolute;bottom:0;left:0;right:0;line-height:55px;color:#fff;}
.benefits .membership_history.mileage tbody tr {display:flex;flex-wrap:wrap;width:100%;height:auto;padding:16px;}
.benefits .membership_history.mileage td {display:flex;flex:1 1 100%;flex-direction:row;position:static;padding-right:100px;font-size:14px;}
.benefits .membership_history.mileage td:first-child {font-weight:normal;font-size:12px;color:#888;}
.benefits .membership_history.mileage .al_left {margin:2px 0;sline-height:20px;}
.benefits .membership_history.mileage .al_left em {position:absolute;top:16px;left:46px;font-size:12px;color:#888;}
.benefits .membership_history.mileage .al_left em:before {display:inline-block;margin-right:5px;content:"/";}
.benefits .membership_history.mileage td:nth-child(3) {font-weight:normal;font-size:13px;color:#888;}
.benefits .membership_history.mileage td:last-child {display:block;position:absolute;top:50%;right:16px;left:unset;z-index:10;padding:0;font-weight:normal;font-size:16px;transform:translate(0, -50%);color:#333;}
.benefits .membership_history.mileage .link:after {display:inline-block;width:5px;height:9px;margin-left:6px;color:#333;background-image:url(../img/m/spr.png);background-position:-200px -30px;-webkit-background-size:225px 225px;background-size:225px 225px;content:"";}

.benefits .membership_history.mileage .cont_mileage .on_m {display:inline-block;margin-left:6px;}
.benefits .membership_history.mileage .cont_mileage .on_m:after {width:19px;height:19px;margin:1px 0 0 4px;background-position:-120px -85px;left:0;top:0;-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none;}
.benefits .membership_history.mileage .expect_tooltip {z-index:300;}
.benefits .membership_history.mileage .expect_tooltip strong {display:block;margin-bottom:5px;font-weight:bold;font-size:14px;}
.benefits .membership_history.mileage .expect_tooltip p {font-size:13px;}

.site_main.my_like {padding-bottom:0;border-bottom:0 none;}
.my_like .cont_mypage > .tit, .my_like .like_item > .tit {display:none;}
.my_like .like_item {border-bottom:8px solid #f0f0f0}
.my_like .like_item .like_list > li .info {padding:0 16px;}
.my_like .like_item .like_list > li .img {margin-bottom:20px;}
.my_like .like_item .like_list > li {padding-bottom:20px;}
.my_like .like_item .like_list > li .info .brand {font-weight:500;}
.my_like .like_item .like_list {padding-top:30px;}
.my_like .like_item .like_list.megazine {padding-top:0;}
.my_like .like_item .like_list.street {padding-top:30px;}
.my_like .like_item .like_list.street > li {padding-bottom:20px;}
.my_like .like_item .like_list.street > li .info {padding:0;}
.my_like .like_item .like_list.street > li .info .desc {font-weight:normal;color:#888;}
.my_like .like_item .like_list.street > li .info .brand {margin-bottom:5px;}

.my_brands .cont_mypage > .tit {display:none}
.my_brands .like_list.brands {display:flex;flex-wrap:wrap;width:100%;padding:0 11px;}
.my_brands .like_list.brands li {width:calc(50% - 10px);margin:0 5px;}
.my_brands .like_list.brands li a {display:block;}
.my_brands .like_list.brands > li .img {width:100%;position:relative;border:1px solid #e5e5e5;}
.my_brands .like_list.brands > li .img img{position:static;width:100%;max-width:none;-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none;}
.my_brands .like_list.brands .info {overflow:hidden;height:73px;}
.my_brands .like_list.brands .info .brand {margin-top:8px;font-size:13px;}
.my_brands .like_list.brands .info .desc {font-size:12px;line-height:20px;}
.my_brands .pages.on_m {margin:20px 0 10px;}

.my_like .myfeed_list {clear:both;}
.my_like .myfeed_list .scoll_product .list_product:not(.typelist) {height:auto;}
.my_like .myfeed_list .scoll_product .list_product>.item:only-child {padding:20px 0 12px;}
.my_like .myfeed_list .list_product > .item:only-child:after {position:absolute;bottom:0;left:0;width:100%;height:3px;background-color:#e5e5e5;content:""}
.my_like .pages.on_m {margin:0;padding:0 0 40px;}

.site_main.my_feed {padding-bottom:0;}
.my_feed .cont_mypage > .tit {display:none;}
.my_feed .myfeed_list li:nth-child(2) {margin-top:0;}
.my_feed .myfeed_list .addfeed {position:relative;width:100%;height:115px;background-color:#fff;}
.my_feed .myfeed_list .addfeed .btn_addfeed {width:calc(100% - 32px);height:50px;border:1px solid #111;}
.my_feed .myfeed_list .addfeed .desc {color:#111;}
.my_feed .myfeed_list .scoll_product .list_product:not(.typelist) {height:auto;}
.my_feed .myfeed_list .scoll_product .list_product>.item:only-child {padding:20px}
.my_feed .myfeed_list .list_product > .item:only-child:after {position:absolute;bottom:0;left:0;width:100%;height:3px;background-color:#e5e5e5;content:""}
.my_feed .pages.on_m {margin-bottom:40px;}
.my_feed .btn_next.large[class*=btn_] {margin-bottom:40px;}

.myfeed_write {padding:24px 16px 0;border-width:2px 0 0;}
.myfeed_write > .tit {font-weight:700;font-size:16px;line-height:30px;}
.myfeed_write > .tit .num {font-size:18px;padding-right:5px}
.myfeed_write > .tit + .desc {padding-top:0;border-top:0 none;}
.myfeed_write > .desc {padding-top:20px;margin-bottom:20px;border-top:1px solid #e5e5e5;font-size:12px;line-height:18px}
.myfeed_write > .desc strong {display:block;font-size:14px;margin:8px 6px 8px 0}
.myfeed_write .btn_more.fix[class*=btn_] {display:block;width:100%;height:35px;border:1px solid #e5e5e5;font-size:12px;}
.myfeed_write .btns {text-align:center;margin-top:60px}
.myfeed_write .feed_list {display:flex;flex-wrap:wrap;}
.myfeed_write .feed_list li {position:relative;width:calc(25% - 9px);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.myfeed_write .feed_list li+li {margin-left:12px}
.myfeed_write .feed_list li:nth-child(4n+1) {margin-left:0}
.myfeed_write .feed_list .info {position:relative;padding-bottom:24px;margin-bottom:24px;}
.myfeed_write .feed_list .check,
.myfeed_write .feed_list .img {position:relative;width:100%;height:0;padding-top:100%}
.myfeed_write .feed_list .img {margin-bottom:10px}
.myfeed_write .feed_list .img img {width:auto;height:100%;min-width:0}
.myfeed_write .feed_list .brand {display:block;overflow:hidden;font-size:12px;line-height:18px;text-overflow:ellipsis;white-space:nowrap;}
.myfeed_write .feed_list .name {overflow:hidden;width:100%;font-size:12px;line-height:18px;text-overflow:ellipsis;white-space:nowrap;}
.myfeed_write .feed_list .check {position:absolute;left:0;top:0}
.myfeed_write .feed_list .check input {opacity:0}
.myfeed_write .feed_list .check label {position:absolute;left:-1px;top:-1px;width:calc(100% + 2px);height:0;padding-top:calc(100% + 2px);background-color:rgba(255,255,255,0)}
.myfeed_write .feed_list .check label:before {width:12px;height:8px;background-position:-115px -45px;display:none}
.myfeed_write .feed_list .check input:checked+label {background-color:rgba(255,255,255,.9)}
.myfeed_write .feed_list .check input:checked+label:before {display:block}
.myfeed_write .feed_list .flag {position:absolute;bottom:0;left:0;line-height:19px;vertical-align:middle;}
.myfeed_write .feed_list .flag + .flag {margin-left:7px}


.myfeed_imgupload {display:flex;flex-wrap:wrap;margin-top:-26px;margin-bottom:30px}
.myfeed_imgupload .item{position:relative;width:calc(25% - 9px);margin:20px 0 0 12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.myfeed_imgupload .item:nth-child(4n+1){margin-left:0}
.myfeed_imgupload .item:nth-child(n+5){display:none;}
.myfeed_imgupload .btn,
.myfeed_imgupload .preview{display:block;position:relative;width:100%;height:0;padding-top:100%}
.myfeed_imgupload .btn{z-index:2}
.myfeed_imgupload .btn:after{width:2px;height:27px}
.myfeed_imgupload .btn:before{width:27px;height:2px}
.myfeed_imgupload .preview{z-index:3;overflow:hidden}
.myfeed_imgupload .preview img{width:auto;height:100%;max-width:none}
.myfeed_imgupload input{width:100%;height:100%;z-index:1;outline:0;font-size:0;line-height:0}
.myfeed_imgupload .reset{position:absolute;right:0;top:0;z-index:4;width:25px;height:25px}
.myfeed_imgupload .reset:after,
.myfeed_imgupload .reset:before{width:2px;height:16px;background:#fff}
.myfeed_imgupload .reset:after{-webkit-transform:translate(-50%,-50%) rotateZ(45deg);-ms-transform:translate(-50%,-50%) rotateZ(45deg);-o-transform:translate(-50%,-50%) rotateZ(45deg);transform:translate(-50%,-50%) rotateZ(45deg)}
.myfeed_imgupload .reset:before{-webkit-transform:translate(-50%,-50%) rotateZ(-45deg);-ms-transform:translate(-50%,-50%) rotateZ(-45deg);-o-transform:translate(-50%,-50%) rotateZ(-45deg);transform:translate(-50%,-50%) rotateZ(-45deg)}
.myfeed_imgupload + .more{border-width:0 0 1px;margin-bottom:30px}
.myfeed_desc {margin-bottom:7px}
.myfeed_desc .input_textarea{display:block}
.myfeed_desc .input_textarea textarea{height:140px}
.myfeed_tags{position:relative}
.myfeed_tags input{padding-right:15px;min-width:auto;width:100%}
.myfeed_tags .tags{display:flex;flex-wrap:wrap;width:100%;padding-right:46px;position:relative}
.myfeed_tags .input_text{width:calc(33.3333% - 4px);height:40px;margin-left:6px;margin-top:6px}
.myfeed_tags .input_text:nth-child(3n+1){margin-left:0}
.myfeed_tags .input_text:nth-child(n+4){display:none;}
.myfeed_tags .input_text input {height:40px;padding:0 5px;}
.myfeed_tags .desc{font-size:12px;line-height:18px;margin-bottom:4px}
.myfeed_tags .desc span {display:block;margin-bottom:4px;color:#111;}
.myfeed_tags .btn_more{padding:0;width:40px;height:40px;min-width:auto;position:absolute;right:0;bottom:0;border-color:#d0d0d0;}
.myfeed_tags .btn_more:after{width:2px;height:14px}
.myfeed_tags .btn_more:before{width:14px;height:2px}
.myfeed_tags .btn_more.minus:after{display:none}
.myfeed_tags + .btns {display:flex;width:100%;margin:40px 0;}
.myfeed_tags + .btns .large[class*=btn_] {width:calc(100% - 4px);}
.myfeed_tags + .btns .btn_back.large[class*=btn_] {margin:0 4px 0 0;}
.myfeed_tags + .btns .btn_submit.large[class*=btn_] {margin:0 0 0 4px;}

.brand_view.view_main .slides.brand_view {padding-bottom:8px;}
.brand_view.view_main .slides.brand_view .item {margin-bottom:80px;}
.brand_view.view_main .slides.brand_view .item .desc {position:absolute;bottom:-80px;left:0;right:0;width:100%;height:80px;padding:22px 16px 20px;border-bottom:1px solid #e5e5e5;font-size:13px;background-color:#f7f7f7;color:#555;}
.brand_view.view_main .slides.brand_view:not(.white) .item:not(.white) .desc {color:#555;}


.brand_view.lookbook .top_visual {display:none;}
.brand_view.lookbook .cont .list_product.lookbook {overflow:hidden;padding:0;}
.brand_view.lookbook .cont .list_product.lookbook li {width:100%;}
.brand_view.lookbook .cont .list_product.lookbook .link {padding-bottom:22px;}
.brand_view.lookbook .cont .list_product.lookbook .link .img {margin:0;}
.brand_view.lookbook .cont .list_product.lookbook .link .name {display:block;overflow:hidden;height:55px;margin:0;padding:0 16px;font-weight:500;font-size:25px;line-height:55px;white-space:nowrap;text-overflow:ellipsis;}

.brand_view.lookbook .slides.brand_view .info {display:none;}



























